[2017-01-08 22:18] peterblazejewicz opened #3 "auht0.js `parseHash` interface has been changed and samples are broken"
https://github.com/auth0/auth0.js/commit/3106382a31dc848fcdcdaf61d87abbaf3a249dc1

This brakes both examples.

Would it be enought to PR a change like:
[code]

Thanks!

[2017-01-09 16:53] chenkie commented on #3
Thanks @peterblazejewicz :) Updates are on the way.

[2017-01-10 20:56] chenkie commented on #3
Closing as the samples have been updated :)

[2017-01-10 20:56] #3 closed

[2017-01-10 22:22] peterblazejewicz opened #4 "01-Login sample update"
I've to change a code in 01 sample that way:
[code]
in order to get it working with social connectors. In fact that is a code implementation from other samples:
https://github.com/auth0-samples/auth0-angularjs2-systemjs-sample/blob/master/01-Login/app/auth.service.ts#L11

Otherwise it does not work with Lock, was this intended?

[2017-01-10 23:47] chenkie commented on #4
Hey @peterblazejewicz, this is intentional for use with Lock 10.9. What isn't working?

[2017-01-15 15:22] peterblazejewicz commented on #4
@chenkie
I solved it. The issue goes away if I enable new OAuth 2.0 authorization flow.

https://auth0.com/docs/api-auth/tutorials/configuring-tenant-for-api-auth

I'll make a PR to README.md with note about this so you could decide if it should be included in the docs source or not (yet, it tricked me and there is no yet similar problem on  support forum).

[2017-01-15 15:22] #4 closed

[2017-01-30 18:40] Amialc opened #6 "outdated auth0.js version"
03-User-Sessions sample is [using](https://github.com/auth0-samples/auth0-angular-samples/blob/master/03-User-Sessions/package.json#L25) auth0.js v8.0.0-beta.3, other samples using auth0.js v8.0.0, when up-to-date version is 8.1.3. (AUTH-3767)

[2017-01-30 20:18] #6 closed

[2017-01-30 20:22] Amialc opened #8 "Login error"
When I'm trying to log in using username-password-authentication, I received `401 Unauthorized`, but I'm sure that credentials is correct.
![image](https://cloud.githubusercontent.com/assets/1114365/22439920/1824087a-e73a-11e6-9c5a-1395d3876511.png)
Also when I'm trying to use google-oauth2 connection, it logs my `Success login` with different email but in reality nothing happens, I'm still having

[2017-01-30 20:28] peterblazejewicz commented on #8
@Amialc if that is not related to code implementation error, first try dev forums:
https://ask.auth0.com/

[2017-02-14 20:56] chenkie commented on #8
Closing this as it's likely not related to these samples.

[2017-02-14 20:56] #8 closed

[2017-02-19 19:36] elnobun commented on #8
@Amialc have you resolved this? I am having the same issue.

[2017-03-23 22:48] luisrudge opened #18 "filter routing events by constructor.name doesn't work in production"
https://github.com/auth0-samples/auth0-angular-samples/blob/91fcef7e374ef79fffff322853525a1669194bfe/05-Authorization/src/app/auth/auth.service.ts#L58

This won't work in production mode of angular because the class name is changed.

Consider this code:

[code]

When you run in DEV mode (`ng serve`), you get this:
<img width="648" alt="screen shot 2017-03-23 at 19 46 40" src="https://cloud.githubu

[2017-03-28 09:44] frederikprijck opened #19 "00-Hosted-Login: Tests are not working"
When running the tests for `00-Hosted-Login`, an exception is thrown:

  Uncaught Error: Zone already loaded.
  at webpack:///~/zone.js/dist/zone.js:24:0 <- src/test.ts:80357

This ended up in multiple exceptions regarding invalid tests.

I've created a PR to address this.

[2017-03-28 14:46] #19 closed

[2017-03-31 21:52] frederikprijck commented on #18
@luisrudge I've created a PR which got merged in for sample `01`, see: https://github.com/auth0-samples/auth0-angular-samples/pull/22 .

Basicly I've replaced `constructor.name` with `instanceof`.

[2017-04-21 18:00] chenkie commented on #18
Fixed in latest samples

[2017-04-21 18:00] #18 closed

[2017-04-26 17:00] rafanog opened #26 "Lock version outdated"
Lock version is outdated on the following sections:
   - 01-login
   - 03-session-handling
   - 04-user-profile
   - 05-linking-accounts
   - 06-rules
   - 07-authorization
   - 09-mfa
   - 10-customizing-lock

In the  `index.html`  file, as shown on the followind picture:
![image](https://cloud.githubusercontent.com/assets/15782359/25446431/7e6212fc-2a7f-11e7-8f3a-1b52784fbe12.png)

Also, on the

[2017-05-05 02:14] aaronchilcott opened #27 "Improve error message in alert output"
In the 00-Centralized-Login application there is an alert box with an vague error message which may be difficult to track down if you are unfamiliar with the code.

I would suggest replacing with console.log(new Error(<meaningful message>)); To make the output less disruptive to program flow and to make it easier for developers to locate where the error is being generated from.

There is one insta

[2017-05-05 02:20] chenkie commented on #27
Thanks for your suggestion :) Since the sample apps are meant to be developer focused, the idea here is to draw attention to the fact that there is an error when one occurs, hence the alert.

I agree that it would be useful to show the full error object to give the dev a better idea of what's going on. I worry that if we just log it to the console then it will be easily missed when the sample app

[2017-05-07 22:17] aaronchilcott commented on #27
You raise a good point. Perhaps, in that case an alert box is the way to go, however, some additional information about where the error is being generated from would definitely improve the usefulness of the alert. =)

[2017-05-08 16:17] #27 closed

[2017-05-08 16:18] chenkie commented on #27
Cool :) Just pushed some changes to add the `console.log`. Thanks!

[2017-05-08 17:49] chenkie commented on #26
Fixed thanks

[2017-05-08 17:49] #26 closed

[2017-05-13 11:25] picosam opened #28 "Sample signUpAndAuthorize Call"
Can you please provide an example on how to use `signUpAndAuthorize`?

[2017-05-17 18:10] picosam opened #29 "What happened to Custom Login?"
Hello, where did the custom login sample go?

[2017-05-23 19:54] namel opened #30 "HS256 not supported"
authentication fails, console indicates error:
 `"invalid_token" "Algorithm HS256 is not supported. (Expected algs: [RS256])"`

I found a workaround to this on issue: https://github.com/auth0/auth0.js/issues/303

but since this is a sample app, it should work right out-of-the-box

[2017-05-23 20:03] chenkie commented on #30
Hi @namel

Which sample in particular did you get the error in?

[2017-05-23 20:04] namel commented on #30
it was on 01-Login

[2017-05-23 20:10] chenkie commented on #30
Did you make any changes to the config in the `AuthService`? The reason I ask is that with the configuration that's there, it should force the ID token to be signed with RS256.

[2017-05-23 20:19] namel commented on #30
No I did not.  After applying the workaround described above, I'm now getting an error that the token is signed in the future, even though my time is set automatically over the network.

This could be related do my environment though?  I'm on the Linux Subsystem for Windows.  Another thing that fails on this environment is that the uniqid package fails (see https://github.com/Microsoft/BashOnWindo

[2017-05-23 20:29] chenkie commented on #30
for issues with system clocks you can add the `leeway` option in your `WebAuth` config. I'd start with 5 seconds.

[code]

[2017-05-23 20:30] chenkie commented on #30
Also can you check which "Client Type" you have set in the clients settings in the Auth0 dashboard?

[2017-05-24 10:16] ArtemAlekhin commented on #30
I have a similar problem with an example 01-Login. I just downloaded the sample, rename file auth0-variables.ts.example to auth0-variables.ts  and defined the variables (clientID, domain) in the auth0-variables.ts file. After the login I get a message in console "Algorithm HS256 is not supported. (Expected algs: [RS256])". Client Type is Non Interactive Client

[2017-05-25 05:04] Steven-Harris opened #32 "JWT must have 3 parts"
I am getting the following error and I am not quite sure how to debug/fix it. Thoughts?

[code]

[2017-05-25 14:32] chenkie commented on #32
it sounds like you probably have an opaque access token in local storage instead of a JWT. Can you check what you have for your `access_token`?

Which sample are you trying? Have you configured your `audience` to use your API identifier?

[2017-05-25 14:45] Steven-Harris commented on #32
Hey @chenkie thanks for your help, I have verified that the audience is correct and my api that has the same audience is working.
I am unfamiliar with checking the access_token. What should I do to check it?

Thanks,

[2017-05-25 15:14] chenkie commented on #29
It's now in the [embedded login](https://github.com/auth0-samples/auth0-angular-samples/tree/embedded-login) branch :)

[2017-05-25 15:34] Steven-Harris commented on #32
Ok, I looked at my access_token in localstorage and  you suspected right. The access token is a short string about 14 characters

[2017-05-25 15:41] chenkie commented on #28
The recommended approach for now (just updated in the sample) is to use `signup` and `login` inside the callback: https://github.com/auth0-samples/auth0-angular-samples/blob/embedded-login/02-Custom-Login-Form/src/app/auth/auth.service.ts#L35-L48

Is there a specific need to use `signupAndAuthorize`?

[2017-05-25 16:36] Steven-Harris commented on #32
What do I need to do to set the access_token with the JWT one?

I am using the same pattern as example 1

[code]

[2017-05-25 18:25] picosam commented on #28
I want to acknowledge the fact that the user has signed up already; I save the token in `localStorage` and use it again to call `userInfo` every time `AuthGuard`'s `canActivate` fires. If `email_verified` is not true, I redirect the user to a page that alerts him that their email has not yet been verified.

[2017-05-25 18:27] chenkie commented on #32
those are the correct lines. The `access_token` you get back will either be a 14 char string like that, or a JWT. It's a JWT if you have a valid `audience` set as your API identifier.

What do you have set as your `audience`?

[2017-05-25 18:33] chenkie commented on #28
Gotcha. You should be able to accomplish that with `signup` though, no?

[2017-05-25 18:42] picosam commented on #28
It's just that when I look at the [docs](https://auth0.com/docs/api/authentication#signup), I see that `signup` does not return any tokens.

[2017-05-25 18:51] chenkie commented on #28
True but you can use `login` in the call back to get the tokens, after which you can continue to ping `/userinfo` to check whether the email is verified. Does that work?

[2017-05-25 18:51] Steven-Harris commented on #32
I have the following in my auth0.WebAuth object
``` audience: 'https://api.stevenharrisdev.com',```

[2017-05-25 18:54] chenkie commented on #32
Hmm you should be getting a JWT then. Maybe try creating another test API in Auth0 and see if anything changes. Otherwise we'll probably need to route you to support and get you to send in a HAR file.

[2017-05-25 18:55] picosam commented on #28
I'm sure it does, but what advantage does making two network trips instead of one give me?

[2017-05-25 18:56] chenkie commented on #28
We'll be adding another method in to do it in one shot later, but the advantage is that the `login` method uses a cross-origin flow which we recommend for added security.

[2017-05-26 02:14] Steven-Harris commented on #32
Is there any way I can get a jwt token as my access_token or is there a reason I am not?  I have a jwt for my id_token but not my access_token.

[2017-05-26 03:45] chenkie commented on #32
The `id_token` will always be a JWT. The `access_token` should be as well if you have your `audience` set to your API identifier. Did you try with a different (new) API? Also, just for good measure, try going to the OAuth settings for your client and make sure that the OIDC Conformant switch is flipped to on.

[2017-05-26 03:48] Steven-Harris commented on #32
oh ok,
Yeah I tried with a new api and it didn't do anything different. Let me check the OIDC Conformant. - This is configured in Auth0 settings page right?

[2017-05-26 03:54] Steven-Harris commented on #32
Ok "OIDC Conformant", was not turned on but I need to figure out how to fix my call back after I login. It is redirecting to my oauth domain and not my localhost for some reason.

[2017-05-27 02:59] chenkie commented on #32
What do you have set as your callback?

I should have asked earlier, but are you using Auth0Lock or auth0.js for your project?

[2017-05-27 03:08] Steven-Harris commented on #32
Auth0-js.

I have my local host set as my call back. But for some reason it redirects
me to an error page at stevenharrisdev.auth0.com/login/callback
On Fri, May 26, 2017 at 9:59 PM Ryan Chenkie <notifications@github.com>
wrote:

[2017-05-27 06:48] Steven-Harris commented on #32
Also I am running angular 4

[2017-05-28 23:51] chenkie commented on #32
Ah ok--do you have your callback route set as an Allowed Callback URL in your client settings?

[2017-05-28 23:53] Steven-Harris commented on #32
Yep. I have double checked that all possible routes in the callback. I have
to turn oidc back to off for it to work
On Sun, May 28, 2017 at 6:51 PM Ryan Chenkie <notifications@github.com>
wrote:

[2017-05-29 14:07] chenkie commented on #32
Ok, but you're getting a JWT access token now?

[2017-05-29 15:17] Steven-Harris commented on #32
With the oidc off its back to where it was before. With oidc on it is not
giving me any tokens
On Mon, May 29, 2017 at 9:07 AM Ryan Chenkie <notifications@github.com>
wrote:

[2017-05-29 15:23] chenkie commented on #32
Ok at this point it's probably best to send in a support request. It might be something specific to your account.

[2017-05-29 15:30] Steven-Harris commented on #32
Ok, you got a link. I am seeing nothing but articles
On Mon, May 29, 2017 at 10:23 AM Ryan Chenkie <notifications@github.com>
wrote:

[2017-05-29 15:40] chenkie commented on #32
Did you check https://support.auth0.com? If you have a plan that comes with support then you can open a ticket. Otherwise you can post something in the community form here: https://community.auth0.com/

[2017-05-29 22:26] Steven-Harris commented on #32
Ok I have restarted everything and created a clean copy of the embedded login branch..
I have the follow urls in the "allowed callback" and "allowed cors"
[code]

I am just getting "Cross origin login not allowed." every time

[2017-05-29 22:26] ssaso commented on #30
@namel choosing single-page-app in "Client Type" solved my problem

[2017-05-29 22:54] Steven-Harris commented on #32
CORS error is only happening on the custom login and not when using AuthLock

[2017-05-30 18:18] chenkie commented on #32
Any other details that come with the error? @luisrudge is there anything you can suggest we try given the cross-origin error?

[2017-05-30 18:22] Steven-Harris commented on #32
That is all I can find in the console error. It's not much to go on.

Side note. Using the auth lock I still have the same result with the
access_token. The access token is still not a JWT

On Tue, May 30, 2017 at 1:19 PM Ryan Chenkie <notifications@github.com>
wrote:

[2017-06-01 06:50] #30 closed

[2017-06-09 18:27] premiumwd opened #34 "Getting error for import auth0 from 'auth0-js'"
src\client\app\core\services\auth.service.ts(4,19): error TS7016: Could not find
 a declaration file for module 'auth0-js'. 'H:/p/node_modules/auth0-js/src/index
.js' implicitly has an 'any' type.
src\client\app\core\services\auth.service.ts(25,27): error TS7006: Parameter 'er
r' implicitly has an 'any' type.
src\client\app\core\services\auth.service.ts(25,32): error TS7006: Parameter 'au
thResult

[2017-06-10 03:54] chenkie commented on #34
Hey there,

Can you try this:

[code]

I've updated the samples to use this import syntax. The previous one works well with the Angular CLI but was not working for some non-CLI users.

[2017-06-15 03:53] #32 closed

[2017-06-15 09:06] chris31389 opened #35 "Loads of Nonce tokens in Local Storage"
Hi,

Is there a safe time to clear Nonce tokens from local storage?  I've got a bit of a build up of them.

Can the request+response remove them after its used?

Thanks,
Chris

[2017-06-15 09:09] chris31389 opened #36 "Token Renewal for same server"
Hi,

I've just been playing around with the token renewal example and tried to move the silent route to the same server that hosts the main application.  Is there any reason you chose to host it on another server port rather than the same one of the application?

Thanks,
Chris

[2017-06-15 15:05] kmaida opened #37 "Authorize Forbidden with Token Renewal example"
After cloning the token renewal example (and also trying to implement it in a separate app), I get a 403 error from `[domain].auth0.com/authorize?...` during token renewal.

I've double and triple checked my Auth0 credentials in all files, and also have tried setting all the config over again in the `renewAuth()` call, but nothing has fixed this.

[2017-06-15 15:46] kmaida commented on #37
Silly mistake. Forgot to add the /silent callback to Auth0 client settings (oops). Closing

[2017-06-15 15:46] #37 closed

[2017-06-16 16:08] adrianchia commented on #36
I believe it makes it easier for SSO use case where you have app1 and app2 communicate to the same silent route.

[2017-06-19 15:38] chenkie commented on #35
It's something that should ultimately be handled by auth0.js. Not sure about a minimum safe time.

We're tracking this issue here if you'd like to follow: https://github.com/auth0/auth0.js/issues/402

[2017-06-19 17:55] rannaot opened #38 "this.auth0.authorize();"
I get an error here - 'Supplied parameters do not match any signature of call target.'

Where the code show function requires, options: AuthorizeOptions

Was the interface changed?

[2017-06-19 18:13] chenkie commented on #38
can you show me your call to `authorize`?

[2017-06-22 19:12] jclancy93 commented on #38
With a call that looks like this:

    this.auth0.authorize({
      connection: 'google-oauth2',
    });

I get an error saying "Object literal may only specify known properties, and 'connection' does not exist in type 'AuthorizeOptions'."

[2017-06-22 19:30] chenkie commented on #38
It looks like the `@types/auth0-js` package is community contributed and only has typings for auth0.js v7. Since they're for v7, this is likely causing issues.

Unfortunately, as of now we don't have plans for officially supported typings.

[2017-06-22 19:34] jclancy93 commented on #38
@chenkie Its weird cause everything works when I clone the sample app. Its only when I try and implement custom login on my own app (v2.4) that I run into these issues.

So what do you recommend as a temporary solution? I can get local auth working no problem its only the social connections that are giving me a hard time. Unfortunately am not able to get rid of social login. Should i downgrade to

[2017-06-22 19:36] chenkie commented on #38
The samples here don't actually make use of any typings for auth0.js. Does your app have `@types/auth0-js` as a dependency?

[2017-06-24 02:33] zilions commented on #8
Also having the same issue

[2017-06-24 05:23] jclancy93 commented on #38
So I think I partially figured out the cause of the problem atleast. My app didn't have an @types/auth0-js dependency, but it had a auth0-lock and a @types/auth0-lock dependency. I was able to set up a new cli project that worked like your sample had intended, so I think the typings from lock might have something to do with it.

[2017-06-26 23:03] #34 closed

[2017-06-27 00:57] vbenavidesa opened #39 "http://localhost:3000/#/access_token"
There is still an issue on the { useHash: true } parameter with angular 2+, I was wondering if you have a workaround for this case or a next release will fix this issue.

The callback is redirecting to that page due to hash routing in angular.

[2017-06-27 13:15] vbenavidesa commented on #39
@chenkie Ok I fixed this by using lock instead of auth0-js, the next issue I am facing after using this is that I get an OK answer with the jwt token, but the setSession and isAuthenticated methods dont seem to be run, as my login button doesnt change for a logout button. Any ideas?

[2017-06-27 14:11] chenkie commented on #39
If you'd like to use embedded Lock and you are used hash-based routing, you'll need to use the `resumeAuth` method from Lock to properly process everything. Check out the embedded-login branch and make sure you have a method like [this](https://github.com/auth0-samples/auth0-angular-samples/blob/embedded-login/01-Embedded-Login/src/app/auth/auth.service.ts#L47) specifically.

[2017-06-27 14:14] vbenavidesa commented on #39
@chenkie I used that to get the login working, my issue right now is that the OK answer is registered in the logs as "success exchange" and not "success login", and I cant find a place on how to get this working, I get the token, I use the exact same code that you provided.

[2017-06-27 14:24] chenkie commented on #39
are your tokens being set into local storage?

[2017-06-27 14:29] vbenavidesa commented on #39
For what I am looking at, it seems the resumeAuth() is not executing, no console.log() is being written and I don't see the localStorage being used.

[2017-06-27 14:32] chenkie commented on #39
local storage is called in the `setSession` method [here](https://github.com/auth0-samples/auth0-angular-samples/blob/embedded-login/01-Embedded-Login/src/app/auth/auth.service.ts#L67). It sounds like it isn't being reached.

After authentication are you able to see authorization information such as an access token, id token etc in the hash fragment?

[2017-06-27 14:36] vbenavidesa commented on #39
I know, but the _setSession_ comes inside the _resumeAuth_ and it is not being reached as you said, I can see the authorization information on the console XHR as a response OK and a JSON object. So it has validated the authorization and given the token. But other than that is not anywhere else.

[2017-06-27 17:13] chenkie commented on #39
Are you reaching anything _before_ `resumeAuth` in the `handleAuthenticationWithHash` method?

[2017-06-27 17:26] vbenavidesa commented on #39
Nothing it seems, I just had a weird "solved" thing going on with it, I changed it to _auth.handleAuthentication()_ and it is working now, and i do have _{ useHash: true }_ on my router, and it was not working last night with that.

[2017-06-27 17:33] chenkie commented on #39
Ok can you let me know if anything changes? `handleAuthenticationWithHash` should be required if you are using hash.

[2017-06-27 17:44] vbenavidesa commented on #39
I know, but I switched to _**handleAuthentication**_ just to catch the error I got last night again and it worked, and my actual url looks like this _**http://localhost:5000/#/app/dashboard**_ so it should not work at all. I got kinda confused!

[2017-07-02 12:25] Hidatsa opened #40 "03-Calling-an-API: private api"
Very nice tutorial, thank you.
 I am getting in above example an error I can't understand. Login with auth0 works fine, I can see profile and public endpint on server works. But for the private endpoint call (Call private button in app) I am getting following error in console:
[code]

and of course the error in app:

[code]
I did try the original code from this repo and since it expect some https,

[2017-07-02 14:01] chenkie commented on #40
What happens if you run the API without TLS, any change?

I'm also wondering if it could be something with `AuthHttp` from angular2-jwt, although I don't think it would be since it just wraps Angular's Http. Can you try making a regular Http GET call but add the `access_token` as a header manually?

[code]

[2017-07-02 19:05] Hidatsa commented on #40
I tried your above suggestion which left me with exactly the same error code. But then I switched to **HS256 algorithm** and I got a more meaningful error message which was pointing to a wrong jwt issuer (problem was that the env file Domain-string contained also the https:// part, this is obviously wrong, it only should contain the identifier string). I switched back to **RS256** again and it wor

[2017-07-02 19:06] #40 closed

[2017-07-02 21:31] #39 closed

[2017-07-02 21:31] #38 closed

[2017-07-02 21:32] chenkie commented on #35
Closing this as we're tracking it over at auth0.js

[2017-07-02 21:32] #35 closed

[2017-07-02 21:41] #29 closed

[2017-07-02 21:41] #28 closed

[2017-07-02 21:48] chenkie commented on #40
Ok thanks. Did you download the sample from our docs site or directly from GH here? If from the docs site, was the `https://` appended to it automatically when you downloaded it?

[2017-07-05 09:01] Amialc opened #41 "outdated dependencies"
(AUTH-4126)
Samples using outdated version of `@angular/*`, `auth0-js`, `rxjs` and other dependencies.

[2017-07-07 10:54] Hidatsa commented on #40
I downloaded it from this GH here - to put `https://` in string was just my fault when filling .env and variables.ts with my auth0 credentials.

[2017-07-17 16:22] lcborn4 opened #42 "Error: Unsuccessful HTTP response at Request"
I tried running this on my local computer and whenever I try to login I get:

[code]

the error in the google console is saying:
`POST https://loganborn.auth0.com/oauth/token 401 ()`

[2017-07-17 17:25] chenkie commented on #42
Hi there, which sample are you working from specifically?

[2017-07-19 16:55] lcborn4 commented on #42
I fixed it by changing the app to a single page application.

I was working on the custom login form sample:

[(https://github.com/auth0-samples/auth0-angular-samples/tree/embedded-login/02-Custom-Login-Form/src/app)]

[2017-07-20 06:05] budilovskiy opened #43 "Components initialized twice after login"
Hi. When I'm run sample "02-User-Profile" I have noticed, that CallbackComponent and HomeComponent initialized twice after login. I can't understand this strange behavior.
![image](https://user-images.githubusercontent.com/11961551/28402771-30e649e2-6d2a-11e7-9f3b-84f3c11d9b3e.png)

[2017-07-20 14:21] sebastiangseijo commented on #18
I have faced this problem with --prod and --aot and the solution i have found was this:
i modified production.js so constructor.name can give you the correct name and not a simple letter.

node_modules/@angular/cli/models/webpack-configs/production.js

   ...
new webpack.optimize.UglifyJsPlugin({
   ...
   mangle: { screw_ie8: true, keep_fnames: true }, /* added keep_fnames: true so SomeClass.cons

[2017-07-20 14:32] chenkie commented on #43
I've looked at a few possible reasons raised [here](https://stackoverflow.com/questions/38787795/why-ngoninit-called-twice) but none of them seem to be the issue so I'm stumped. Is it causing issues in your app?

[2017-07-20 14:32] frederikprijck commented on #18
@sebastiangseijo Keeping the function names isn"t what you want to be doing for production builds.

I think the auth0 api regarding this has changed, but I guess @chenkie can tell you that for sure.
If not, have a look at [my comment](https://github.com/auth0-samples/auth0-angular-samples/issues/18#issuecomment-290839227) explaining you how to get around this issue.

[2017-07-20 14:36] chenkie commented on #18
@sebastiangseijo the key is to use `instanceof`. Have you tried that?

[2017-07-20 14:58] budilovskiy commented on #43
Hi @chenkie.
It seems that is not a problem with **ngOnInit()**, because the **constructor()** is getting called twice too.
Yes, this causes issues in my app, but I trying to solve the problem, considering this strange behavior.

[2017-07-20 18:11] #42 closed

[2017-07-23 19:44] kartikgreen opened #44 "Access token must exist to fetch profile"
I am trying to fetch profile details after login, I get an error Access token must exist to fetch profile. This will work well without errors, if i reload the page

[code]

[2017-07-23 23:14] chenkie commented on #44
What does your `getProfile` method look like?

[2017-07-24 05:45] kartikgreen commented on #44
Hi,  here is My getProfile method,
public getProfile(cb): void {
    const accessToken = localStorage.getItem('access_token');
    if (!accessToken) {
      throw new Error('Access token must exist to fetch profile');
    }

    const self = this;
    this.auth0.client.userInfo(accessToken, (err, profile) => {
      if (profile) {
        self.userProfile = profile;
      }
      cb(err, profile);

[2017-07-24 15:53] chenkie commented on #44
From what you've described, I would guess that the `getProfile` method is being called before the login transaction fully finishes and there is an access token saved in local storage. Are you able to arrange things so that you can be sure that the access token has been saved before you try to get the profile?

[2017-07-24 16:08] kartikgreen commented on #44
here is complete auth service file, please tell me how,
userProfile: Object;
  constructor(private router: Router) {
  }
  public login(): void {
    this.auth0.authorize();
  }
  public handleAuthentication(): void {
    this.auth0.parseHash((err, authResult) => {
      if (authResult && authResult.accessToken && authResult.idToken) {
        window.location.hash = '';
        this.setSession(aut

[2017-07-28 03:32] ayayalar opened #46 "Usage of scope 'openid profile' is not recommended."
[code]
Writes out warning `Usage of scope 'openid profile' is not recommended. See https://auth0.com/docs/scopes for more details.` to the console.

In the referred url I didn't find anything specific for this.

Any idea what is the reason behind this warning?

Thank you

[2017-07-28 03:46] chenkie commented on #46
This is a carry over from older usage. The issue is that requesting a `scope` of `profile` will increase the size of the `id_token`. Since the token you'll want to send in requests to your API is the `access_token`, it's not a big deal.

[2017-07-28 03:48] ayayalar commented on #46
Thank you for the quick response @chenkie. Then should this warning be removed from the api itself?

[2017-07-28 04:02] chenkie commented on #46
np. There may be an issue open for it in the API. I'll follow up on it next week.

[2017-07-28 04:03] ayayalar commented on #46
Awesome. I'll close the issue here.

[2017-07-28 04:03] #46 closed

[2017-07-29 18:57] kartikgreen commented on #44
Can you please answer me?

[2017-07-29 19:17] chenkie commented on #44
Ok let's take a step back with a couple questions:

* Your `ngOnInit` code that you originally showed--is that in a dedicated profile component?
* Can you describe the click steps that would lead to the error? If your implementation follows the sample closely, I would guess that it goes: Load app > log in at Auth0 > get redirected to the home route > click the profile route > get error. Is this co

[2017-07-29 20:07] kartikgreen commented on #44
i followed the tutorial and have implemented same as it is in the documentation.  I want to show the profile  picture , immediately after signing in.

[2017-07-29 21:14] chenkie commented on #44
Is the profile image supposed to show up in your `controlpanel` route?

[2017-07-29 21:33] kartikgreen commented on #44
in the navbar, so in all pages.

On Sat, Jul 29, 2017 at 2:14 PM, Ryan Chenkie <notifications@github.com>
wrote:

[2017-07-29 23:18] chenkie commented on #44
The sample isn't set up to provide the profile to the navbar right away upon successful authentication. The problem is that your navbar is being initialized before authentication completes and the profile is retrieved. It's something that needs to be handled in the Angular app. You'll need to use a different approach and pattern to feed the user profile your navbar to be used after authentication.

[2017-08-03 22:23] sinedsem commented on #30
Yes!! To solve `invalid_token` error with description
`Algorithm HS256 is not supported. (Expected algs: [RS256])`
one should set "Client Type" at https://manage.auth0.com/#/clients to Single Page Application

[2017-08-11 21:34] toddler4372 opened #47 "Not able to access user_metadata through profile component"
I'm able to access a few of the user attributes such as the picture:
`<img src="{{profile?.picture}}" class="profile-avatar-lg">`
But when I try and get any of the user_metadata:
`<h2 class="p-b-10">{{ profile?.user_metadata.first_name }} {{ profile?.user_metadata.last_name }}</h2>`
I get an error:
**`ERROR TypeError: Cannot read property 'first_name' of undefined`**

Is my syntax wrong?

[2017-08-16 18:47] toddler4372 commented on #47
Could I get an answer to this?

I tried also to expose the user_metadata with a rule:

[code]

But I still get the same error.

[2017-08-16 20:38] chenkie commented on #47
You won't be able to get `user_metadata` in your profile object. This was previously possible by requesting `user_metadata` as a `scope` when authenticating, but isn't supported in the latest pipeline.

If you'd like to get items from `user_metadata` in a custom claim in your `id_token`, you'll need to ask for them by name. For example:

[code]

[2017-08-16 21:20] toddler4372 commented on #47
Thanks for the reply. I put this rule into the dash:
[code]
and when I try to retrieve:
`{{ user.user_metadata.first_name }}`
I still get the error:
`ERROR TypeError: Cannot read property 'user_metadata' of undefined`

Do you see something I'm missing?

[2017-08-16 21:31] chenkie commented on #47
Sorry, I should have clarified. The `user_metadata` object isn't going to end up in the profile object your get from calling `userInfo()`. That rule will, however, put the `first_name` property in your `id_token`. You can use this in your app by decoding the token and reading it from the payload. Use **jwt-decode** for this.

[code]
[code]

It's not clear from your code if this is what you're doin

[2017-08-16 22:28] toddler4372 commented on #47
I installed jwt-decode and now have this as my profile.component.ts:
[code]
In the console I just get "undefined."

[2017-08-16 22:33] toddler4372 commented on #47
I also updated the rule to show my actual local URL. Is that a problem?
[code]

[2017-08-17 18:20] chenkie commented on #47
Are you sure that you have your `id_token` in local storage when your component initializes? One thing you can try is console.logging the whole decoded payload in the `ngOnInit` method to see what you get and to make sure your custom claim is there. You should also decode your token at https://jwt.io to see the payload.

The namespace you use in the rule doesn't matter, it just needs to be somethi

[2017-08-17 19:19] toddler4372 commented on #47
Can you give me the console.log command for the whole payload?

[2017-08-17 19:31] toddler4372 commented on #47
When running `console.log(this.idTokenPayload);` this is what I got:

[code]

[2017-08-17 19:40] toddler4372 commented on #47
To answer your earlier question, I'm seeing the id_token in Local Storage before I navigate to /profile.

[2017-08-17 19:57] toddler4372 commented on #47
It's showing up now, Ryan. I can see now in the console that it's picking up 'faveColor' from the metadata.
`console.log(this.idTokenPayload['http://localhost:4200/faveColor']);` returns `blue`
However, I still get the error:
`ERROR TypeError: Cannot read property 'user_metadata' of undefined`
when I try to access it in the profile view:
`{{ user.user_metadata.faveColor }}`

Anything look wrong to

[2017-08-17 20:12] chenkie commented on #47
Where are you trying to access `user` in that fashion? Can you show me the code?

If it's in your Angular app that you're trying to access `user_metadata` on the `user` object, I assume that it's what was previously called `profile` in your opening post. If that's the case, then presumably this object is being populated by [this call](https://github.com/auth0-samples/auth0-angular-samples/blob/mas

[2017-08-17 20:20] toddler4372 commented on #47
In my profile.component.html being called from profile.component.ts.  That code is here:
[code]
I'm only using `user` because I saw that in the documentation.  Previously in my AngularJS app I had used:
`{{ profile.user_metadata.faveColor }}`

[2017-08-17 20:25] chenkie commented on #47
So the reason you don't get `user_metadata` on the `profile` object is because Auth0 doesn't populate it there. That's why you'll want to use custom claims on your `id_token`. So from your profile page (or wherever) you can do `{{ idTokenPayload.faveColor }}`

[2017-08-17 20:32] toddler4372 commented on #47
Ok, I see. I gave `<span>{{ idTokenPayload.faveColor }}</span>` a shot and the span is just empty. Weird. `Blue` still shows up in the console with the command `console.log(this.idTokenPayload['http://localhost:4200/faveColor']);` however.

[2017-08-17 20:39] chenkie commented on #47
well you'd need to assign the property that exists on `idTokenPayload['http://localhost:4200/faveColor']` to `idToken.faveColor` to make that work. Auth0 is going to place the `faveColor` property on your `id_token` on a property called `['http://localhost:4200/faveColor']` because that's the instruction in your rule. So the options in your Angular app are:

[code]

or you can assign that property

[2017-08-17 20:43] toddler4372 commented on #47
I'm understanding it now. Thanks a lot! It works now.

[2017-08-17 20:46] chenkie commented on #47
no prob

[2017-08-17 20:46] #47 closed

[2017-08-25 10:46] AdrianSima opened #48 "Normalized User Profiles don't match with documentation"
I wanted to get the user's email to display as nickname and to attach to forms on my website, but it seems that Authentication API profile is returning an object that is missing some of the members shown in the documentation.

I receive this for a profile created on the Username-Password-Authentication connection:
[code]
and this for a profile created on the google-oauth2 connection:
[code]
But th

[2017-08-28 08:00] AdrianSima commented on #48
After searching for a solution and spending a lot of time through documentation I found out that to get the email info I need to request the scope of 'email' too.

I am still unsure why I get different response info on my webpage than what I get when I test the rule in the dashboard. I get a lot more info on the rule testing, even though the scope is set to "openid" only in the context.

Anyway, t

[2017-08-28 08:00] #48 closed

[2017-08-29 22:16] phanikumar1223 commented on #44
@kartikgreen  I am having the same issue. Are you able to resolve it

[2017-08-29 23:10] toddler4372 opened #50 "Invalid Token Error when building app"
I suddenly started getting this error when I try to npm start and build the Angular 2+ Auth0 app. I've looked in local storage and there is no token there currently. It was logging in/out fine while I was working on the mobile nav and it seems the token expired? I'm not sure how to proceed, and internet + issue searches haven't yielded any help so far.  Here is the error:

[code]

Here is my auth.

[2017-08-30 19:55] #41 closed

[2017-08-31 01:13] toddler4372 commented on #50
Can I get a response for this? I'm not even able to build my app at this point, and I'm not sure how to clear this invalid token.  There isn't anything in local storage, and I've added token refresh functionality--but I'm not able to use that as I have to be able to run the app in order to execute it.

[2017-09-03 23:11] mayordwells opened #51 "Uncaught Error: Can't resolve all parameters for AuthService: (?)."
I have this very confusing error and I have no idea what to ask google.
I am using auth0 on an angular + rails app to help with authentication between a Shopify App in Rails and the front end of the app in Angular, I am using webpacker. The rails app currently works with Shopify but we are currently working a separate interface on the front end in angular in.
When I remove AuthService from the pro

[2017-09-08 03:58] Jscott388 opened #53 "ERROR TypeError: Cannot read property 'split' of null at AuthService.webpackJsonp.25.AuthService.userHasScopes (auth.service.ts:91)"
Can't figure this out. I downloaded directly with configuration already set, did npm install and started.

[2017-09-08 15:13] chenkie commented on #53
I just tried the same and wasn't able to reproduce. Can you check local storage after login to see if you have anything for `scope` in there?

[2017-09-15 04:22] mswilson4040 commented on #46
Any update on this or link to an issue? I'm getting the same thing and would like to get it out of my console.

[2017-09-15 15:37] chenkie commented on #46
I believe it's being looked at right now.

[2017-09-19 08:26] bujardeari commented on #43
@budilovskiy did you fix it?

[2017-09-27 02:37] HeikerAraujo opened #54 "Angular 2+ Login: Outdated auth0-js dependency"
Seeds projects are using an oudated version of the dependency auth0-js
Latest auth0-js version 8.9.2

![image](https://user-images.githubusercontent.com/26749061/30893263-3f81be7a-a30b-11e7-9284-92ff0418b94e.png)

[2017-09-30 17:05] StefH opened #55 "01-Login example : redirectUri in class auth.service.ts should be retrieved from AUTH_CONFIG ?"
Shouldn't the `redirectUri` be defined as `AUTH_CONFIG.callbackURL`?
[code]

[2017-10-02 13:35] chenkie commented on #55
Good call! Feel free to send in a PR if you like :)

[2017-10-02 16:57] mpiroc opened #56 "Minor: LICENSE file is misspelled in source."
The correct spelling is "LICENSE", not "[LICENCE](https://github.com/auth0-samples/auth0-angular-samples/blob/master/LICENCE)"

[2017-10-02 17:47] chenkie commented on #56
Looks like GH is ok with either :)

<img width="94" alt="screen shot 2017-10-02 at 1 46 23 pm" src="https://user-images.githubusercontent.com/1847678/31091183-243a9f58-a778-11e7-92b1-5f8564e72c60.png">

It is probably best if we fix it for consistency. Would you like to send in a PR?

[2017-10-03 09:31] QLaille opened #57 "Cannot match any routes. URL Segment: 'access_token'"
I pretty much followed the entire quickstart/login part of [Angular2+ Auth0](https://auth0.com/docs/quickstart/spa/angular2/01-login), and stopped at the part where it says that `
This example assumes you are using the default Angular path-based routing. If you are using hash-based routing with { useHash: true }, you will not be able to specify a dedicated callback route. The URL hash will be used

[2017-10-03 15:43] chenkie commented on #57
The `handleAuthenticationWithHash` method is for use with Lock.js. Unfortunately when you use auth0.js, the authentication result must come back on the hash fragment.

The error you're getting is because Angular tries to match a route called `access_token`. As far as I know, there isn't a way to avoid this.

Out of curiosity, is there a reason in particular that you don't want to use path-based ro

[2017-10-04 08:31] QLaille commented on #57
Well, the gitlab server isnt in my hands, so when it comes to refreshing any page of my apps the server is confused because it doesnt know the exact route, but angular does, so in the meantime I'm using hash-based routing, so I guess my issue is kinda "resolved" because it is unrelated.

[2017-10-10 20:01] paulioceano opened #61 "Outdated dependencies in Angular 2 sample project"
Samples using outdated version of @angular/*, auth0-js, rxjs and other dependencies.

AUTH-3348

[2017-10-10 20:12] paulioceano opened #62 "Typo in Readme file for 03-calling-an-api"
In the Readme.md file, the instructions say:

"cd 03-Calling-API"

But, the folder name is "03-Calling-an-API"

AUTH-3348

[2017-10-11 15:23] paulioceano opened #63 "Wrong apiUrl and Audience parameter in Angular2 sample projects."
When download the Sample project, the parameter apiUrl in:
 \03-calling-an-api\src\app\auth\auth0-variables.ts
\05-token-renewal\src\app\auth\auth0-variables.ts
\04-authorization\src\app\auth\auth0-variables.ts
Variable AUDIENCE in \04-authorization\.env

are not propely prepopulated.

For example, I'm logged in a tenant in Australia region, and no matter how many times I reload the page, clean th

[2017-10-11 17:53] aaguiarz commented on #63
Yes, API Urls are not correctly set in any Quickstart, we are working on a solution for it.

[2017-10-12 23:57] Jscott388 commented on #53
Fixed. I been using different quick starts. So I had a token stored still when I fired up a new quick start.

[2017-10-12 23:57] #53 closed

[2017-10-25 11:59] remeezp commented on #43
Hi all, have you managed to fix this.  I am currently experiencing this too.

[2017-11-07 17:33] budilovskiy commented on #43
No, unfortunately, I did not solve the problem

[2017-11-08 20:08] josephrur commented on #43
Hey guys I found a solution [here](https://www.reddit.com/r/Angular2/comments/6fmzew/canactivate_guard_calls_auth0_if_user_is_not/) look at comments

[2017-11-20 13:29] MOZGIII commented on #46
Any updates?

[2017-11-22 19:27] ragavanrajan commented on #43
I have tried commenting the windows.location.hash but no luck. Still the behaviour is same.
Any help would be appreciated.

[2017-11-23 14:13] rafanog opened #69 "Wrong handling of invalid fields during signup"
The handling of the blank fields during user registration has three details:
 - If the password's left blank:
![image](https://user-images.githubusercontent.com/15782359/33176700-588e2c16-d036-11e7-9d2d-dfead97e403a.png)

- Using an invalid email:
![image](https://user-images.githubusercontent.com/15782359/33176793-b1e2b444-d036-11e7-8975-c1a281c71bc3.png)

 - If you put some info on the fields, t

[2017-12-05 15:13] andreasgrimm opened #72 "Unnecessary dependency to auth0.js library in silent.html"
There's an unnecessary dependency to the `auth0.js` library and unnecessary configuration in the `silent.html` file.

The current version of the library handles it just fine if from the iFrame you just post the hash to the parent:
[code]

#71 simplifies the silent authentication.
What do you think?

[2017-12-06 10:57] jitterbugboy opened #73 "Rxjs version throws error when navigating"
The rxjs version from the package is outdated as i uses  5.4.2 this throws an error "EmptyError: no elements in sequence"
when navigating to profile and other sections.
update package.json to latest 5.5.4 seems to solve the issue

[2017-12-09 04:43] ranouf opened #75 "Migration to Angular 5"
Hi,

I just upgraded to Angular 5 and I Have an "Invalid token"  error now. Every thing worked find before.

Here are my packages:
[code]

Here is the ts function:
[code]

Can you help to find the solution?

[2017-12-15 17:28] #62 closed

[2017-12-15 17:52] luisrudge commented on #72
we're moving away from silent auth 🎉

[2017-12-15 17:52] #72 closed

[2017-12-15 17:53] #56 closed

[2017-12-15 17:54] luisrudge commented on #36
we're moving away from silent auth and using checkSession instead 🎉

[2017-12-15 17:54] #36 closed

[2017-12-15 17:57] luisrudge commented on #44
Please check out https://github.com/auth0-samples/auth0-angular-samples/issues/44#issuecomment-318865925 and if this doesn't answer your questions, ping our amazing support team at https://support.auth0.com

[2017-12-15 17:57] #44 closed

[2017-12-15 17:58] luisrudge commented on #50
Sorry you hit this bump. Were you able to fix it? Please reopen the issue with the repro steps if you still need help.

[2017-12-15 17:58] #50 closed

[2017-12-15 18:00] luisrudge commented on #51
Hi, looks like you're having some issues integrating your app with Auth0. This repo is made of angular samples that work out of the box. If you're still seeing issues with your own code, please reach out to our amazing support team at https://support.auth0.com

If you find any issues with this repo specifically, please open a new issue with the proper reproduction steps. Thanks 🎉

[2017-12-15 18:00] #51 closed

[2017-12-15 18:00] luisrudge commented on #54
we'll upgrade them 🎉

[2017-12-15 18:00] #54 closed

[2017-12-15 18:01] #55 closed

[2017-12-15 18:01] #57 closed

[2017-12-15 18:02] #61 closed

[2017-12-15 18:02] #63 closed

[2017-12-15 18:02] luisrudge commented on #63
closing because it's not related to the repo itself

[2017-12-15 18:03] luisrudge commented on #69
Hi, this appear to be a Lock issue. Can you open the issue in that repo with the proper repro steps? Thanks! https://github.com/auth0/lock/

[2017-12-15 18:03] #69 closed

[2017-12-15 18:08] luisrudge commented on #75
Hi, did you find the issue? Can you paste the stacktrace or something?

[2017-12-15 18:08] luisrudge commented on #73
do you know why that's the case? any stacktrace or something?

[2017-12-15 18:45] ranouf commented on #75
Hi,

So finally, i Just removed the Auth0 validation on client side, my server will do it. To do that, I updated my code:
[code]

And

[code]

I hope it will help you too:)

[2017-12-15 18:45] #75 closed

[2017-12-15 18:57] luisrudge commented on #75
Thanks. We don't recommend bypassing the id_token verification, since it validates state, nonce, expiration time, jwks etc. Are you doing everything on the server? if that's the case, why use id_token at all?

[2017-12-15 19:06] luisrudge commented on #73
I just cloned the repo and it works. I'm adding a few changes, to the repo. Try again after I push everything. THanks 🎉

[2017-12-15 19:06] #73 closed

[2017-12-16 05:31] musclor commented on #72
Hi @luisrudge

My concern with checkSession is that it requires to set the "Allowed Web Origins" in the Clients settings which does not support http://localhost:4200

So I cannot test it on my local machine.

Would you have a solution for that, please ?

[2017-12-17 01:09] aaguiarz commented on #72
Hi @musclor

That url should be supported in Allowed Web Origins, please try again.

Thanks,

Andres

[2017-12-17 21:55] musclor commented on #72
Hi @aaguiarz

I have just tried again and I confirm that it works now.

Thank you for telling me that the url should work otherwise I would have always thought it does not. I can now serenely move away from renewAuth() and silent.html 👍

[2017-12-19 10:00] andreasgrimm commented on #72
are the examples waiting for _auth0.js_ v9 to be released?

[2017-12-19 12:38] luisrudge commented on #72
@andreasgrimm nope. I'm finishing the examples right now (they all work with 8.latest).

[2017-12-19 16:34] luisrudge commented on #43
This was fixed in all examples in the latest commit: https://github.com/auth0-samples/auth0-angular-samples/commit/71854b2873f437b013d249bcd53ecb0992bba4a8#diff-c556315f5b572bbf786f8a2aca1076d8L27

[2017-12-19 16:34] #43 closed

[2017-12-27 06:07] luije87 commented on #44
@phanikumar1223 the solution posted by @chenkie  is partially correct. The issue comes when you refresh the page 'F5'. Just move 'this.getProfile()'
[code]

[2018-01-03 21:55] paulioceano opened #82 "SPA Angular2 (Docker): Typo in instructions"
In the instructions tu run the sample, the command to run Docker in linux is "./exec.ps1", not ".\exec.ps1"

![image 1](https://user-images.githubusercontent.com/15818783/34541585-2fc03902-f0af-11e7-899c-0062513734c0.png)

[2018-01-04 00:56] aaguiarz commented on #82
Actually, both work

[2018-01-04 00:56] #82 closed

[2018-01-05 15:09] paulioceano opened #83 "SPA Angular2 (Docker): Login Sample not running"
After using sh exec.sh and show that the compilation was a success, when trying to run the sample in the browser show an error "Invalid Host header".

This happen only in the 01-Login sample.

![screenshot_1](https://user-images.githubusercontent.com/15818783/34614726-ccd52982-f208-11e7-82f8-848f06bb8e0a.jpg)
![screenshot_2](https://user-images.githubusercontent.com/15818783/34614727-ccfc2af0-f208

[2018-01-05 15:20] aaguiarz commented on #83
Can you try using 127.0.0.1 or localhost?

[2018-01-10 18:00] dboune commented on #46
@chenkie:

Does that mean that people who are receiving this message, are also using a deprecated, or no-longer-modern, or what-have-not, method of access?

It's a bit confusing really, referencing various tutorials, pages, example repos -- to tell exactly what is what.

I'm asking because the message is still there after all this time, further adding to the confusion. If it still is an applicable

[2018-01-10 18:58] aaguiarz commented on #46
@dboune you should not be getting that warning if you are using auth0.js v9, which is what the Quickstart is using now.

Do you see a different behavior?

[2018-01-10 19:04] dboune commented on #46
@aaguiarz: I do..

package.json: `"auth0-js": "^9.0.2"`

[code]
Error:
[code]

[2018-01-14 19:53] RaleS opened #86 "06-Single-Sign-On - TypeError: Cannot read property 'expiresIn' of null"
ERROR TypeError: Cannot read property 'expiresIn' of null
    at AuthService.webpackJsonp.../../../../../src/app/auth/auth.service.ts.AuthService.setSession (auth.service.ts:62)
    at auth.service.ts:97
    at WebAuth.webpackJsonp.../../../../auth0-js/src/web-auth/index.js.WebAuth.parseHash (index.js:159)
    at index.js:357
    at IframeHandler.callback (silent-authentication-handler.js:74)

[2018-02-05 04:18] kevinding0218 opened #87 "Login successfully while redirect to callback page --> Cannot match any routes. URL Segment: 'access_token'"
Hello, I am following the official and current git repository to try performing the login with auto0, while my login authorization was successfully verified then there is some error happened when redirect back to my callback component.
Error Description: Cannot match any routes. URL Segment: 'access_token'

I've done a lot of research on that that I tried to use some other work around method like

[2018-02-06 18:54] kevinding0218 commented on #87
Hello, is there any suggestion over this one or maybe Angular 5 is not compatible with Auth0 for now?

[2018-02-19 23:36] dylanwoo commented on #47
Is there a php example of this?

[2018-03-10 09:54] wcraytor opened #90 "04-Authorization fails to compile"
04-Authorization compile ends with errors:
ERROR in src/app/admin/admin.component.ts(22,8): error TS2339: Property 'map' does not exist on type 'Observable<Response>'.
src/app/auth/auth.service.ts(17,27): error TS2339: Property 'apiUrl' does not exist on type 'AuthConfig'.
src/app/ping/ping.component.ts(25,24): error TS2339: Property 'json' does not exist on type 'Object'.
src/app/ping/ping.compon

[2018-03-24 12:17] aaguiarz commented on #90
Hi @wcraytor

I apologize for the inconveniences.

We do have a process for testing each PR, but we didn't do the right thing with a change merged a couple of days before your reported this.

We should have answered you 2 weeks ago, we also failed at that.

On the good news side, we are fixed the issue yesterday in this commit .https://github.com/auth0-samples/auth0-angular-samples/pull/92, and we

[2018-03-24 12:17] #90 closed

[2018-04-02 20:36] paulioceano commented on #83
It was not possible to run this using 127.0.0.1 or localhost. But Re-try using http://192.168.99.100:3000 and worked fine

[2018-04-02 20:36] #83 closed

[2018-04-06 21:02] rafanog opened #101 "04-authorization sample missing jwt-decode package"
The samplet mentioned gets stuck during execution due to a missing package:
![image](https://user-images.githubusercontent.com/15782359/38440078-1ff1be86-39ae-11e8-8454-ec14fe9dfea6.png)

[2018-04-11 20:12] schwer commented on #30
Why does this work?

[2018-04-13 21:16] teaquack commented on #87
I had similar issue failing on callback. For me the callback url (http://localhost:4200/callback), which is where my Angular server was running was not the callback url (http://localhost:3000/callback), which auth0 uses by default. I fixed it by setting the callback url in the auth service config to localhost:4200, since that's where I have the running server.
Since you mention the access_token, i

[2018-04-16 23:26] amirhaman commented on #46
Hi, any update on this?

pkg:
`"auth0-js": "^9.4.2"`

Auth:
[code]

err:
`lock.min.js:9 Usage of scope 'openid profile' is not recommended.`

Thanks

[2018-05-22 06:36] ashishdasnurkar opened #108 "Support for Angular 6"
Angular 6 was released earlier this month. https://github.com/angular/angular/blob/master/CHANGELOG.md

This quickstart supports 5.2.6

[2018-06-02 17:57] tarasshpek commented on #18
@sebastiangseijo unforatunatelly your workaround doesn't work for Angular CLI v6, but I've found similar solution here: https://stackoverflow.com/a/50557403/8315708

[2018-06-13 02:19] lk-jeffpeck commented on #46
Still happening in 9.6.0

[2018-06-13 16:28] aaguiarz commented on #46
That message was removed from Lock 11.

You are probably using Lock 10 in the Hosted Login Page.

Regards,

Andres

[2018-06-28 10:28] RibeiroAna opened #112 "localStorage being used"
Hello,

In this example you are using localStorage to keep the token, but the app becomes more vunerable because any script can access this token on `localStorage`. Maybe you should change to the approach used here: https://github.com/auth0-blog/auth0-web/blob/master/src/index.ts

Cheers,
Ana

[2018-07-09 02:04] Fyb3roptik opened #113 "Microsoft login error"
I am getting this error:

The+provided+value+for+the+input+parameter+'redirect_uri'+is+not+valid.+The+expected+value+is+'https://login.live.com/oauth20_desktop.srf'+or+a+URL+which+matches+the+redirect+URI+registered+for+this+client+application

I have configured all callbacks to match, but it still is not working

[2018-08-20 21:57] paulioceano opened #119 "vulnerabilities during npm install"
After the ´npm install´ instructions the console show some vulnerabilities:

![screenshot_1](https://user-images.githubusercontent.com/15818783/44368843-35daf780-a4a2-11e8-9733-1d54ddcd24ab.png)

Some of these are fixed using ´npm audit fix´

[2018-09-10 19:09] paulioceano opened #123 "Module not found in Embedded-login branch."
When running the sample for 02-Custom-Login-Form in the Embedded-Login branch, I get the following error during `npm start`

![screenshot_3](https://user-images.githubusercontent.com/15818783/45318627-824aad80-b50b-11e8-85d6-4235f668c3ad.png)

[2018-10-19 19:09] Niladri24dutta commented on #123
@albertoperdomo it seems the given example uses the old `HttpClient` instead of the recommended `HttpClientModule` from `@angular/common/http` in `app.module.ts` , This might cause a problem in higher version of angular as `HttpClient` is deprecated. Let me know if I can submit a PR for this.

[2018-11-12 11:36] guilhermecgs opened #126 "Error running"
[code]

[2018-11-12 15:41] guilhermecgs commented on #112
Newbie question:
Your suggestion is to use an internal angular variable to store the token?
In that case, how can you share the token with other applications ? ex: single sign on

[2018-11-12 16:12] guilhermecgs opened #127 "Why refreshing the page automatically login?"
Steps:

1. At least in example "06-Single-Sign-On", I login successfully on app01 and app02
2. I can see that localStorage localhost:3000 and localhost:3001 have the token ids stored...
3. I hit logout on both applications. I am redirected to main page -> "You are not logged in! Please Log In to continue."
4. Additionally, I clear the storage (devtools -> application -> clear storage) for both app

[2018-11-27 13:09] RibeiroAna commented on #112
@guilhermecgs take a look at this tutorial I wrote: https://auth0.com/blog/full-stack-typescript-apps-part-2-developing-frontend-angular-apps/, in special the section: "Creating an Auth0 Angular Service"

[2019-01-14 17:25] francescopeloi commented on #112
I think @guilhermecgs question is still open, If you keep the token in memory only, how would it work with Single Sign On?

[2019-02-19 17:00] spiritguide7 opened #134 "There was an error fetching the SSO data."
package.json :   "auth0-js": "^9.4.1",
auth.service.ts :  public renewTokens(): void {
    this.auth0.checkSession({}, (err, authResult) => {
Allowed Web Origins:  <mydomain.com>

I am still getting a 404 when the app tries to get /user/ssodata, when the signin dialog appears.
It appears that I am able to signin, but I thought that this issue has been already fixed.
Can you suggest a way to preven

[2019-02-22 12:29] brunokrebs commented on #112
Hi guys. Actually, to achieve SSO, you are not supposed to share tokens among applications. Different applications should get different tokens. The SSO session is controlled by the _authorization server_ (for example, Auth0).

To illustrate, if you log into an application and then go to another application, while this second application issues a request to the _authorization server_ to get a new t

[2019-03-04 17:07] antyale opened #135 "Duplicated scheduleRenewal() in example"
Hello,

Example file: https://github.com/auth0-samples/auth0-angular-samples/blob/master/05-Token-Renewal/src/app/auth/auth.service.ts

In the following code:
[code]
the successful execution of the function `this.renewTokens()` already calls `this.scheduleRenewal()`, so this additional causes duplication of timers to renew the tokens.  One of them should be removed.

Thanks

[2019-03-08 12:33] leongrin opened #137 "Cannot find modules: './auth0-variables' and 'auth0-lock'."
I am receiving the following errors when trying to run the app. How can I fix it?

ERROR in src/app/auth/auth.service.ts(2,29): error TS2307: Cannot find module './auth0-variables'.
Hash: 2904999ce1a6d26c4813
Time: 4620ms
src/app/auth/auth.service.ts(5,23): error TS2307: Cannot find module 'auth0-lock'.

[2019-03-10 18:34] kaidokert opened #140 "05 - RenewTokens sample is broken"
First the renewToken call is broken/spelled wrong  :  https://github.com/auth0-samples/auth0-angular-samples/pull/138

Second, displaying the token expiry is broken, expiry field needs to be shown from memory as per
PR https://github.com/auth0-samples/auth0-angular-samples/pull/136 or actually shown from localstorage as per https://github.com/auth0-samples/auth0-angular-samples/pull/139

Also it a

[2019-03-28 07:03] mathiasconradt commented on #140
Same for me, getting this error when pressing the `Renew` button.

<img width="628" alt="Screen Shot 2019-03-28 at 8 02 17 AM" src="https://user-images.githubusercontent.com/295122/55136923-eba0af80-512f-11e9-848e-c1657af8752d.png">

[2019-03-28 07:08] mathiasconradt opened #143 "06-Single Sign On is missing documentation on Quickstart page"
The 06-Single Sign On sample is missing a documentation on the quickstart page at https://auth0.com/docs/quickstart/spa/angular2, there it's only showing samples 01 to 05.

The README is also missing the info that `http://localhost:3000` and `http://localhost:3001` needs to be added to the `Allowed Web Origins`. The same goes for the callback URL, where `http://localhost:3001/callback` should be a

[2019-04-05 06:05] tomastalian commented on #140
Wrong method is called, 's' is missing at end  renewToken() -> renewTokens()

[2019-04-05 12:10] viccsjain commented on #137
If you clone the repo directly from Github, rename the auth0-variables.ts.example files in each of the
sample applications to auth0-variables.ts and provide the Client ID and Domain there. This file is located
in src/app/auth/.

Rename the file first and then run again.

[2019-04-18 19:07] akolybelnikov opened #145 "isAuthenticated should be used instead of isAuthenticated() everywhere in the app"
Calling the `isAuthenticated` method as a function `isAuthenticated()` doesn't bring the desired result, neither in the `auth.guard service`, nor in the `app.component.ts`. Instead, this method that just returns a boolean, should be used like so:
[code]

I haven't tested all the occurrences, but most probably it applies everywhere.

[2019-05-03 11:20] instituteofblooddisorders opened #147 "Sickle cell anemia"
Sickle cell anemia (sickle cell disease) is a blood disease that shortens life expectancy. It is caused by inherited abnormal hemoglobin that decreases life expectancy. Symptoms of sickle cell anemia include bacterial infections, arthritis, leg ulcers, fatigue, and lung and heart injury. Sickle cell treatment is focused on managing and preventing the worst symptoms of the disease.https://institute

[2019-05-06 21:53] #147 closed

[2019-05-20 07:37] #145 closed

[2019-06-02 14:35] nishimura-yuji opened #148 "04 When I reload, I get back to the unlogin state"
If you reload your browser after logging in, you will not be logged in.

I want to stay logged in until the user logs out.

Is there a solution?

[2019-06-23 20:38] MarcosRZ opened #152 "HTTP seems to be no longer supported"
I'm trying to run the 01-Login example and I'm unable to make it work with default HTTP config given.

Just creating the auth0-variables.ts file and running the example I got the following error:

 I had to modify the start script adding SSL support in angular/webpack dev server as follows:

`"start": "ng serve --host 0.0.0.0 --port 3000 --ssl true",`

Anyway, this example is broken and login butt

[2019-06-24 08:24] stevehobbsdev commented on #152
@MarcosRZ We're on the verge of updating the samples for the [new JavaScript SDK](https://github.com/auth0/auth0-spa-js), which is about to come out of beta.

The new samples are in the [spa-js-sdk-samples branch](https://github.com/auth0-samples/auth0-angular-samples/tree/spa-js-sdk-samples) - could you try these out and see if they work better for you?

[2019-06-24 14:03] jimmyjames commented on #86
Closing this issue as it's over a year old and the sample has changed since reporting. If you are still experiencing this issue, please reopen or create a new issue, and include any additional or updated information.

[2019-06-24 14:03] #86 closed

[2019-06-24 16:17] #87 closed

[2019-06-24 18:34] jimmyjames commented on #126
It looks like you already have something running on port 4200 (`Error: listen EADDRINUSE 0.0.0.0:4200`). Also possible this sample has changed since reporting, but as I'm not able to reproduce, going to close it.

[2019-06-24 18:34] #126 closed

[2019-06-24 18:39] jimmyjames commented on #119
Closing since this sample has had its dependencies audited since this issue was created (https://github.com/auth0-samples/auth0-angular-samples/commit/ea59796427e0ce24abf9619b0cd1b04aa6001c57). Please open a new issue with the specific sample section and any reported vulnerabilities if you see them.

[2019-06-24 18:39] #119 closed

[2019-06-24 18:42] jimmyjames commented on #112
Originally reported issue of using localStorage has been fixed with https://github.com/auth0-samples/auth0-angular-samples/pull/142

[2019-06-24 18:42] #112 closed

[2019-06-24 18:44] jimmyjames commented on #101
I'm not able to reproduce this; given the age of this issue, going to close. If you still experience it, please reopen.

[2019-06-24 18:44] #101 closed

[2019-06-24 20:20] #137 closed

[2019-06-24 20:21] stevehobbsdev commented on #143
@mathiasconradt I'm not sure why the documentation for this sample was never written.

However, all of the samples and documentation have been rewritten and are now live on auth0.com!

[2019-06-24 20:21] #143 closed

[2019-06-24 20:27] stevehobbsdev commented on #140
@kaidokert Thanks for raising this. The samples have all now been rewritten and the old ones deprecated in favor of the new SDK.

However, I'd like to try and get this into the old samples (they've been tagged with `auth0js-9.10.4`) for those users still using the old stuff.

[2019-06-24 20:28] stevehobbsdev commented on #148
@nishimura-yuji How are you logging into your app, are you using a social provider such as Google, or username/password?

[2019-06-24 20:30] stevehobbsdev commented on #123
Closing due to inactivity. The samples have since been completely rewritten; if you feel there is still an improvement to be made, please feel free to submit another issue or PR.

[2019-06-24 20:30] #123 closed

[2019-06-24 20:31] stevehobbsdev commented on #108
The samples have been completely rewritten and now support Angular 8!

[2019-06-24 20:31] #108 closed

[2019-06-24 21:19] jimmyjames commented on #127
Hi @guilhermecgs, since this issue was reported we've made a few changes to the sample in this area:
- It no longer stores tokens in `localStorage`
- It handles logout properly by calling the logout endpoint of the authorization server (Auth0).

I'm going to close this issue, but if you have continued issues don't hesitate to reopen or create a new issue, just be sure to include information to hel

[2019-06-24 21:19] #127 closed

[2019-06-25 03:02] nishimura-yuji commented on #148
@stevehobbsdev
Thank you for your reply.

I use both.

[2019-06-25 16:51] stevehobbsdev commented on #148
@nishimura-yuji I would expect that behavior if you're using the Google connection with the development keys (see [social connection caveats](https://auth0.com/docs/connections/social/devkeys))

The samples have just been updated using our [new JavaScript SDK](https://github.com/auth0/auth0-spa-js) - could you try these and let me know if they work better for you?

[2019-06-25 16:52] stevehobbsdev commented on #135
Hey @antyale, the sample app has been updated since this issue was raised - please feel free to check it out. I'll close this issue for now; if you're still having trouble, please feel free to submit another issue.

[2019-06-25 16:52] #135 closed

[2019-06-25 16:54] stevehobbsdev commented on #134
Hey @spiritguide7, the sample app has been updated since this issue was raised. Could you try again and see if the new samples help with your particular issue?

I'll close this issue for now; if you're still having trouble, please feel free to continue the conversation.

[2019-06-25 16:54] #134 closed

[2019-07-01 18:30] PBarnard opened #154 "Cannot read property 'close' of undefined"
Hey, I'm getting the error "Cannot read property 'close' of undefined" after logging in successfully using a Microsoft social account.

This is an Angular 8 app and I've just gone through the Getting Started tutorial using auth0-spa-js.

I don't get this error when signing in using username/password.

Also, this only occurs on the first login of the application. If I logout then back in multiple t

[2019-07-01 18:46] stevehobbsdev commented on #154
@PBarnard Do you have a repo for this I can take a look at?

[2019-07-01 20:29] PBarnard commented on #154
Hey Steve, sadly no, working on a client's private repo at the moment. I'll have a look through the sample app in the morning and see if I can spot anything obvious that I might have missed.

[2019-07-02 08:17] PBarnard commented on #154
@stevehobbsdev I just cloned and ran the sample angular app and can't recreate the issue so it was a problem with my code. I think it might be due to me doing:

`await this.auth0Client.loginWithRedirect({ redirect_uri: `` });`

instead of this as done in the sample:

`await this.auth0Client.loginWithRedirect({ redirect_uri: `${window.location.origin}/callback` });`

So, all good :)

[2019-07-02 08:23] PBarnard opened #155 "Error in Edge browser"
Just pulled the angular sample app and am getting an error in Edge browser on Windows 10. Works fine in Chrome.

Steps to reproduce:

- Pull repo
- Run npm install
- Create auth_config.json in application root
- Run ng serve
- Browse to localhost:4200
- Click the "Log In" button

![image](https://user-images.githubusercontent.com/14309231/60496352-87e7ce80-9caa-11e9-9c5a-27bc7590e91c.png)

Edit: W

[2019-07-02 11:23] PBarnard commented on #155
Found a workaround, there's a polyfill that's deprecated by the owner but still works here:

https://github.com/inexorabletash/text-encoding

I cloned that, added the two .js files in the /lib folder to the angular app's src/ folder and added the following to angular.json:

[code]

Appears to work fine in both Edge and Chrome now.

[2019-07-02 11:30] stevehobbsdev commented on #155
Thanks @PBarnard, good to know there is a workaround 👍

Anything we can do here @luisrudge?

[2019-07-02 11:30] #155 closed

[2019-07-02 11:31] stevehobbsdev commented on #152
Closing this due to inactivity. If there is still an issue to be resolved here, please feel free to raise another issue.

[2019-07-02 11:31] #152 closed

[2019-07-02 15:19] stevehobbsdev commented on #155
Hey @PBarnard, off the back of this issue we've just released v1.0.2 of the SDK which should fix this without having to use the workaround. Can you give this a try?

[2019-07-02 16:15] PBarnard commented on #155
Hey @stevehobbsdev yeah that's working fine now in both browsers, cheers! 👍

[2019-07-03 12:56] webcourse-ng commented on #148
I wonder if I've the same issue. When I refresh the page, I once again see the Login button. But, it doesn't work. An error pops up in the console: Cannot read property 'loginWithRedirect' of undefined
TypeError: Cannot read property 'loginWithRedirect' of undefined
    at NavBarComponent.<anonymous> (nav-bar.component.ts:32)

I figure, something seems to be aware that there is an active session.

[2019-07-03 13:33] stevehobbsdev commented on #148
@webcourse-ng That exception—while not immediately clear—_usually_ points to a configuration problem.

Can you look at the network trace when you reload the page? When the page loads, you should see a call out to `/authorize` on `<your domain>.auth0.com`. If there's a problem, that call will fail and if you check the response, you might see an Auth0 error page in there. Might give us a clue as to

[2019-07-03 13:35] stevehobbsdev commented on #154
@PBarnard Glad you got it sorted!

[2019-07-03 13:35] #154 closed

[2019-07-03 14:26] webcourse-ng commented on #148
Thanks for the quick reply, stevehobbsdev. You're right: the call to authorize fails with a reload, with an error 400. I get the OOPS page with the sad blue face for the result of this call. It contains a link to see technical details of the error, but that link doesn't work (didn't expect it to in this case, nonetheless, I'm left with no additional details.)

The difference in the calls are:

- u

[2019-07-03 15:11] webcourse-ng commented on #148
Found the error in the logs, 'Silent Auth Failed'. Looks like an invalid origin problem. Will post on what I find.

[2019-07-03 15:23] webcourse-ng commented on #148
The silentauth error said 'The specified redirect_uri 'http://localhost:4200/callback' does not have a registered origin.' Which it did. But after reading around, I tried using http://localhost:4200 - no end backslash, no path. That fixed it! Thank you, stevehobbsdev!

[2019-07-03 17:44] stevehobbsdev commented on #148
@webcourse-ng No problem!

[2019-07-03 17:44] #148 closed

[2019-07-04 14:46] rdawoud opened #159 "Chrome browser login"
i cloned the solution ,  work fine with me on firefox ,but when  try chrome i got the below error when i try to login .

 `main-es2015.3379ed1d3780456c449b.js:1 ERROR Error: Uncaught (in promise): TypeError: Cannot read property 'digest' of undefined
TypeError: Cannot read property 'digest' of undefined
    at R (main-es2015.3379ed1d3780456c449b.js:1)
    at ne.<anonymous> (main-es2015.3379ed1d378

[2019-07-05 09:25] stevehobbsdev commented on #159
Hi @rdawoud, can you confirm that you're running the sample either on the `localhost` origin, or using a secure connection?

The SDK that the sample uses requires that [`SubtleCrypto`]() is available, which means running on `localhost` or using SSL.

[2019-07-05 10:19] rdawoud commented on #159
@stevehobbsdev , I belive this is the issue , when I tried with local host it went ok , problem still exist when I use a non secure origin .
So is it a must to have a secure origin to us the SDK or there is a work around ?

[2019-07-05 10:26] stevehobbsdev commented on #159
@rdawoud There is no real workaround, unfortunately. If you're not running on localhost, you will need to use an SSL cert on the origin you're running from. The browser SDKs that the Auth0 SDK relies on simply aren't available otherwise.

[2019-07-05 10:27] #159 closed

[2019-07-10 16:42] ChaudhryAtif opened #162 "Persist login between refreshes"
Similar to this: [https://community.auth0.com/t/persisting-login-between-refreshes/22675](url)

I am using the latest sdk.

To experience:

- Clone the repo, update credentials, and run
- Login so you see authenticated navbar
- Refresh, and you will see unauthenticated navbar for a few seconds because info is still being fetched from Auth0.

Previously we could get + store info from authResult and

[2019-07-11 04:47] padhumailin opened #163 "callback url keeps loading"
after login with google account, redirected to localhost callback url with Login link in navtab.
And this callback url is keeps spinning. How to fix this?

vendor.js:44320 ERROR Error: Uncaught (in promise): Error: Invalid algorithm

[2019-07-11 09:59] stevehobbsdev commented on #163
Hi @padhumailin, this is down to a configuration problem with your Auth0 app. The new Auth0 SDK only supports the RS256 signing algorithm.

To fix it, open your [Auth0 dashboard](https://manage.auth0.com), open the application that you're connecting to, and under "advanced settings" you can change the signing algorithm to RS256.

Hope that helps!

[2019-07-11 09:59] #163 closed

[2019-07-11 10:02] padhumailin commented on #163
Thank steve... it works

[2019-07-11 10:07] stevehobbsdev commented on #162
Thanks for raising this @ChaudhryAtif. Really the sample should show neither the unauthenticated UI nor the authenticated UI until the authentication state can be determined. That way you wouldn't get the "flicker" effect.

So initially both the login and logout/profile UI would be hidden until the result comes back from Auth0. You could always store some more local state in your own apps that ind

[2019-07-11 10:07] #162 closed

[2019-07-16 14:18] 22Viig opened #165 "How to get the JWT id_token?"
Written in the documentation:

How can I get the id_token ? I need the encoded JWT .
Thanks

[2019-07-16 14:22] stevehobbsdev commented on #165
Hi @22Viig,

I think this part should probably be omitted from the quickstart documentation, thanks for the heads up.

You cannot retrieve the ID token from the SDK, as it's not a recommended thing to do (see [this issue on the matter]() and why we won't be exposing it without a good use-case.

What's the situation in which you need the ID token?

[2019-07-16 14:30] 22Viig commented on #165
I need the JWT to send it to an api server that implements jwt authentication mechanism (mechanism that uses the same key used by Auth0 to authenticate users). The server is an API server for mongodb, created with [RESTHeart](https://restheart.org/).
Maybe can I call some auth0 api to get the id_token?

[2019-07-16 14:59] stevehobbsdev commented on #165
@22Viig If it's just a JWT you need, you can send the access token. You can get this from the SDK using the `getTokenSilently` function. I've had a quick look through the RESTHeart docs and I can't see anywhere where it says that you need the ID token specifically, so this should work for you.

To get an access token in JWT format from Auth0, you need to supply an `audience` parameter when creatin

[2019-07-17 21:14] #165 closed

[2019-07-18 11:34] 22Viig commented on #165
Thanks @stevehobbsdev , I used the `getTokenSilently` function with the `audience` in the auth configuration the get the JWT.
I have still a couple of questions to you
1. why if i paste the access token (in the JWT format) in the https://jwt.io/ it says Invalid Signature?
2. which is the algorithm used to encode the JWT? it should be HS256, but in the tutorial is written to create an API using the

[2019-07-18 15:57] stevehobbsdev commented on #165
@22Viig

1. Unsure without looking at the token. Which signature algorithm are you using?
2. The algorithm that's used is dependent on your Auth0 app settings. In there, you can configure it to use either HS256 or (the default) RS256. I would check the app you're connecting to in order to see what algorithm is being used.

It should be noted though, that `auth0-spa-js` [only supports tokens using

[2019-08-01 21:15] akamal88 opened #170 "How can i set the Response type using the SPA angular2 sample code"

[2019-08-02 03:14] #170 closed

[2019-08-17 16:19] pgoldtho opened #171 "Update 01-Login README.md to include workaround for Invalid algorithm error"
Following the quickstart setup instructions (https://auth0.com/docs/quickstart/spa/angular2) results in an Invalid algorithm error (see screenshot below).  The workaround for this is described in https://github.com/auth0-samples/auth0-angular-samples/issues/163.

![Screen Shot 2019-08-17 at 12 09 03 PM](https://user-images.githubusercontent.com/13651001/63214575-c36a1b00-c0e7-11e9-8d51-fa438f15a70

[2019-08-27 13:18] jupav opened #172 "NPM start on Angular sample error"
On fresh download of the sample app and when following along with the tutorial with pre-made app, the app crashes and I get the following error:

Chrome browser error:

[code]

I think this error is produced where the AuthService creates an observable of Auth0 instance with the following code:

auth.service.ts:

[code]

[2019-08-30 01:27] ChaudhryAtif opened #173 "Async-await alternative"
Is it possible to get promise-based (async-await) alternative to the current [auth service](https://github.com/auth0-samples/auth0-angular-samples/tree/master/02-Calling-an-API/src/app/auth/auth.service.ts), or even a full-fledged example using await-async just like Observables?

I found [auth service](https://github.com/auth0-samples/auth0-angular-samples/blob/new-sdk/03-Calling-an-API/src/app/au

[2019-09-03 14:11] kmaida commented on #173
Hello! We do not recommend using an async/await approach with the Angular sample, as the Angular framework itself is built with observables. Using async/await goes against a canonical implementation and you may experience challenges integrating with the Angular platform if you do not use the observable-based approach.

However, you can see an iteration using async/await from this commit: https://g

[2019-09-03 14:11] #173 closed

[2019-09-03 14:38] kmaida commented on #171
Applications created in the Auth0 dashboard have RS256 selected as the algorithm by default. An algorithm mismatch would occur if the application is legacy, or if it was manually changed to another algorithm by the developer. I can add a note in the README about this.

[2019-09-03 17:30] pgoldtho commented on #171
I guess the Angular demo must be a legacy app.  I was following the hello world tutorial.  I don't believe I changed anything

[2019-09-03 17:37] kmaida commented on #171
If this wasn't already enabled, then yes, your tenant and application were most likely created before this became the default setting for all new apps. We apologize for the confusion this may have caused and will add a note to the README. Thanks for your suggestion and patience!

New applications created in the Dashboard now have advanced settings that look like this by default (OIDC Conformant se

[2019-09-03 17:53] kmaida commented on #171
Hey @pgoldtho, it's just been brought to my attention that, as of recently, we are experiencing an issue where the default application in new tenants is not being set to OIDC conformant / RS256 as normally is expected.

We're working on a resolution now, but changing the setting manually will also solve your issue in the meantime!

[2019-09-11 15:43] martajedrecka opened #174 "localAuthSetup() seems not to be working properly"
Hello,

the problem exists in both demo apps 01-Login and 02-Calling-an-API.
Login procedure works perfectly fine, after I'm logged in I can see profile page, information about currently logged in user. But when I refresh the page, all I have is a blank page (see screenshot)
![image](https://user-images.githubusercontent.com/15836906/64712210-1a7ec800-d4bb-11e9-8c15-cf48fff17cc7.png)
the page is w

[2019-09-11 15:53] martajedrecka commented on #174
I found a solution in here: https://github.com/auth0/auth0-spa-js/issues/209

[2019-09-11 16:10] stevehobbsdev commented on #174
Glad you found a solution @martajedrecka!

[2019-09-11 16:10] #174 closed

[2019-09-17 13:43] pungiish opened #175 "localAuthSetup always returning false on page reload"
Angular app ( even the base sample ) redirects/logouts the user after every page reload, even if the user is logged in and localAuthSetup() is called in app.component.ts' OnInit method. On reload, the loggedIn property is always set to false.

[2019-09-17 14:26] stevehobbsdev commented on #175
@pungiish This could be to do with your Auth0 app set up. This usually happens when you don't have an entry in the **Allowed Web Origins** setting for the Auth0 app you're using. This should be set to the origin that your Angular app is running on (e.g.: `http://localhost:4200`).

Can you please check that and let us know?

[2019-09-17 14:33] pungiish commented on #175
@stevehobbsdev Thank you for the fast response. Yes, I added that, but since my app is running on port 3000, i used `http://localhost:3000`. I also tried adding in another route, where I usually reload from. Also tried doing that on the sample app, it still logs me out.
I'll provide a picture
![image](https://user-images.githubusercontent.com/22725524/65051065-b0f23400-d968-11e9-9ab8-b411b921a0ad.

[2019-09-17 16:41] stevehobbsdev commented on #175
@pungiish Are you signing in to your app using a social connection such as Google?

If so, another thing to check is that you're not using the developer keys in your Google social connection. You should supply a set of real keys from a Google account that you own. Otherwise you do get the issue that you're seeing.

You can also verify this is the case if you instead sign in to your app using a use

[2019-09-17 16:51] pungiish commented on #175
@stevehobbsdev Oh, that's why it didn't work then. I use Google to login.
Could you point me into the direction of where/how can I set the keys from Google?
Thanks!

[2019-09-17 17:08] #175 closed

[2019-09-19 08:56] vishwanathsunkari commented on #57
hey did you solve the issue ? please let me know the solution

[2019-10-29 10:41] developeer opened #177 "/Callback fails when run from prod build"
The callback fails since it is not captured by angular and sent to back to webserver.
This works in development mode but not in prod build.

using nodejs http-server but have reproduced with golang http.

ng build --prod
cd dist/auth0-angular-samples
http-server ./

the login prompts but then get blank page (404 page not found) since the /callback is sent to the backend webserver instead of being

[2019-10-29 17:21] #171 closed

[2019-10-30 12:57] kmaida commented on #177
Hi @developeer, thanks for bringing this to our attention, I am working on resolving this now.

[2019-10-30 13:10] developeer commented on #177
Hi Kim,  Thank you.  If you need more information let me know.

I was running on windows 10 with node version 12.11.

-Edgar

________________________________
From: Kim Maida <notifications@github.com>
Sent: Wednesday, October 30, 2019 8:57:37 AM
To: auth0-samples/auth0-angular-samples <auth0-angular-samples@noreply.github.com>
Cc: Edgardo Robles <edgardo.robles@outlook.com>; Mention <mention@nore

[2019-10-30 14:05] kmaida commented on #177
Hi @developeer. The sample for Calling an API had a production server provided which passed routing to the backend which enabled the `/callback` route to work on production. However, I've now updated the samples so that they will work in a test prod build regardless of this.

[2019-10-30 15:00] developeer commented on #177
HI Kim, Thank you for the quick turnaround.

I am still having an issue.  If you run the project with ng server -o. It works.  I see that the redirect uses /?code instead.  (only works in chrome.  Firefox gets an error invalid request).

If I do an ng build –prod which puts the project in the dist folder.

I cd into dist/login-demo

I previously install the http-server npm package with npm install

[2019-10-30 15:17] developeer commented on #177
Hi Kim,

I tried to run the 02 project but it does not compile.
I run ng serve -o and I get

The Auth0Client is in the typings/src/ folder not the typings folder.

[cid:image003.png@01D58F13.AC3C20F0]

________________________________
From: Kim Maida <notifications@github.com>
Sent: Wednesday, October 30, 2019 10:12:30 AM
To: auth0-samples/auth0-angular-samples <auth0-angular-samples@noreply.githu

[2019-10-30 18:27] ttrevorr opened #178 "Update Library package"
@auth0/auth0-spa-js package should actually track the release of https://github.com/auth0/auth0-spa-js .  This would help catch bugs when that package is updated.

[2019-10-30 19:58] stevehobbsdev commented on #178
Thanks @ttrevorr, we're looking at updating the package version over the next couple of days.

[2019-10-30 19:58] #178 closed

[2019-11-02 00:05] #140 closed

[2019-11-03 17:02] mendhak opened #179 "02-calling-an-api: Docker build results in "Not Found" error"
On a fresh install of Docker, I ran `sh exec.sh`

The image builds and starts listening on port 3000

When I browse to http://localhost:3000 (or 127.0.0.1 or 192.168.x.x) I get a 'not found' message with status code 404.

![image](https://user-images.githubusercontent.com/746276/68088854-f0aea580-fe5a-11e9-84ac-be02a583f9c8.png)

The docker logs show this error

Error: ENOENT: no such file or dire

[2019-11-21 13:08] turkingj opened #181 "canActivate: [AuthGuard] - default route not waiting for Auth to complete"
Say we want to protect all routes including the home component

`
{
    path: '',
    component: HomeComponent,
    canActivate: [AuthGuard]
  }
`

On testing this, the login/logout functionality ends up in a loop. If the default redirect is '/ ' it constantly redirects back to Auth0 Universal login page. Looking at the old example with the callback component, its not protected and gives the login

[2019-11-21 13:32] turkingj commented on #181
After adding a delay to the AuthGuard code, it seems to be working as expected...

[code]

So it seems the first route hit after the Auth0 universal login only works if not protected with an AuthGuard.

[2019-12-03 15:34] tomIQME commented on #181
Had the same problem. Seems to work with a delay.

[2019-12-12 09:18] wimagee commented on #181
Also spent some time chasing my tail on this one. Did a workaround with a non guarded home route which is working adequately but this really needs sorted or at least some explanation in the docs.

[2020-01-09 01:15] mattmoo opened #182 "Broken by enabling clickjacking protection"
With clickjacking protection enabled, the login page is blocked with.

Refused to display 'https://dev[....]' in a frame because an ancestor violates the following Content Security Policy directive: "frame-ancestors 'none'".

[2020-01-19 04:09] Padagi commented on #181
I had the same problem. Adding a delay helped a lot!

It seems that this can actually cause a long delay during login that is sort of hard to track down. For me it caused login times of 15-20 seconds in some cases, where AuthGuard is redirection to this.auth.login repeatedly until the auth completes before AuthGuard is called.

isAuthenticated$ should be blocked from returning an in-flight authent

[2020-01-22 11:48] turkingj commented on #181
Instead of depending on the delay, I added a boolean flag to the auth service, to see if the this.handleAuthCallback() had completed and then checked for this flag within the AuthGuard

**auth.service.ts**
[code]

**auth.guard.ts**
[code]

[2020-01-29 00:56] KevinBurton opened #183 "Visual Studio doesn't recognize getTokenSilently$()"
I am looking at this code with VS Code but looking at the Http Interceptor (interceptor.service.ts) with Visual Studio I get a squiggly line that indicates an error that getTokenSilently$ is not recognized in the auth.service.ts?

![Interceptor](https://user-images.githubusercontent.com/2643566/73318718-e30d7f80-41ff-11ea-9091-2bb99e953532.PNG)

[2020-01-29 02:22] KevinBurton opened #184 "Binding to highlight property of <code>"
What needs to be installed so I can bind to the highlight property of the code element. Basically so that this html doesn't fail? I just took the profile component and put it into my project. Any hints as to what needs to be installed?

[code]

[2020-02-03 21:19] mendhak commented on #179
Hello this is solved in the PR #180 but the PR needs review.

[2020-02-04 16:50] #177 closed

[2020-02-12 18:33] rehrumesh opened #185 "Issue with installing dependencies."
I was trying to run the project but when I did an `npm install` I got the following issue.

![image](https://user-images.githubusercontent.com/2035004/74365461-2a952d80-4df4-11ea-8809-415622d97e1f.png)

[2020-02-13 11:19] stevehobbsdev commented on #185
Hi @rehrumesh , I've just tried it myself and not getting that issue. To rule out a temporary blip, could you please try it again?

[2020-02-13 20:03] stevehobbsdev commented on #185
It looks like NPM may have had an outage relating to packages that contained the word `error`. https://twitter.com/npmstatus/status/1227693019802955778?s=20

Closing this as I don't believe it to be a problem with the sample.

[2020-02-13 20:03] #185 closed

[2020-02-14 08:14] rehrumesh commented on #185
Hi @stevehobbsdev yes seems that is the case. Works perfectly now.

[2020-03-05 19:54] fooock commented on #181
Thanks for the code @turkingj it seems to work, but, if I press F5 to reload the page, the server responds with a 403 error... any idea on this? Did you change anything in the `localAuthSetup` method?

[2020-04-01 17:59] d-led opened #188 "Race condition when calling handleAuthCallback in the sample code"
## Problem

the [Angular: Login sample code](https://auth0.com/docs/quickstart/spa/angular2/01-login) causes a race condition: an unbounded redirect loop, sometimes succeeding to authenticate the app, sometimes not.

## Solution

just use the [solution](https://community.auth0.com/t/angular-8-isauthenticated-race-condition/37474) by @camdenbrown (@ceb-luclin ?), which does not exhibit the problem

[2020-04-07 14:59] stevehobbsdev commented on #188
Thanks for raising this @d-led, let me take a look at this properly over the next few days and see if I can get it solved.

[2020-04-15 01:55] #182 closed

[2020-04-15 08:58] XavierTalpe commented on #188
@stevehobbsdev any update on this?

[2020-04-20 17:55] lipidfish opened #190 "Chrome: login does not persist after page refresh"
When using the Chrome browser the login function works perfectly, but when I refresh the page it seems to loose the authenticated state. I can click the login button again, and it brings me back to the authenticated state right away, without going through the login screen again.

I am seeing this happen with both social providers and Auth0 database users.

This appears not to be the case when usin

[2020-04-22 14:37] stevehobbsdev commented on #190
Thanks for raising @lipidfish - does this work if you run your app in Incognito mode? Are you using any Chrome extensions which may block the ability to read third-party cookies?

[2020-04-22 15:48] lipidfish commented on #190
Thank you for the reply @stevehobbsdev. 3rd party cookie setting is the culprit.

Indeed my Chrome browser is blocking 3rd party cookies, and it appears as if I can't change that (company laptop) Firefox, though, does not have that restriction. Odd.

[2020-04-22 15:48] #190 closed

[2020-04-22 16:45] stevehobbsdev commented on #190
Glad to be of help!

[2020-04-22 17:08] AlexDunca opened #191 "Need to log in every time I refresh browser/page"
Hello,

I have downloaded the Angular Quick Start - 01 Login.

https://auth0.com/docs/quickstart/spa/angular2/01-login

Everything works fine, but if I refresh the page or access it again, I have to log in again. I spent few hours reading lots of posts regarding my issue, but with no luck.

Mac OS X 10.15.0
Browsers (tried also incognito - same behaviour)
Chrome Version 80.0.3987.163 (Official Bui

[2020-04-23 02:54] aaronjonesii commented on #191
^

[2020-04-23 10:14] stevehobbsdev commented on #191
@AlexDunca The sample itself works ok for me in this regard, I'm guessing this is environmental.

This is a classic symptom of having third-party cookies being blocked. I would expect this error to surface in Safari as it blocks these cookies by default thanks to ITP, but you're saying you've tried it in Chrome with Incognito Mode? Have you got any extensions loading in Incognito Mode that blocks

[2020-04-23 10:48] AlexDunca commented on #191
Hi @stevehobbsdev , thanks for your reply. I have tried on a different machine (windows) and it works only on Firefox. In Chrome still having the same issue (incognito also).

Anyways, the problem is clear, the solution for this is not clear.
Can you confirm that going for Auth0 custom domains can fix the issue?

[2020-04-23 10:52] stevehobbsdev commented on #191
If the problem is indeed that the third-party cookies are being blocked somehow, then custom domains should solve your issue if your app and authorization server are on the same domain. It's the cross-origin part that is causing the problem.

[2020-04-23 10:55] AlexDunca commented on #191
I will give a try with custom domains.

Thanks for help!

[2020-04-23 11:40] #191 closed

[2020-05-05 03:52] #184 closed

[2020-05-05 03:52] #183 closed

[2020-05-28 17:01] stevehobbsdev commented on #188
@XavierTalpe Not yet, apologies for the radio silence here. Let me get a look shortly. In the meantime we would of course review any PR that was raised to help fix this.

[2020-06-08 01:30] Ro3A commented on #188
@stevehobbsdev

Any update on this? I'm running into this as well on a side project at home, but we're about to start implementing this at work as well. I'm having doubts at this point especially since this issue has been open for some time.

We're paying for this service so we don't have to work through headaches like this..

[2020-06-08 14:29] stevehobbsdev commented on #188
@Ro3A Does the [solution proposed here](https://community.auth0.com/t/angular-8-isauthenticated-race-condition/37474/3) get you unblocked in the meantime?

[2020-06-08 14:46] Ro3A commented on #188
@stevehobbsdev Unfortunately not. I spent all day yesterday implementing the various solutions but that is not a variant I tried.

I'm also concerned about the same site warnings. I know there are github issues on that as well.

I'm sure you guys are like most dev shops - overburdened and swamped. Seeing how long these issues have been open, and the fact that even the sample project has this issue

[2020-06-08 14:59] camden-brown commented on #188
Sorry for the many Github accounts.... lost access to my original =(

@Ro3A can you perhaps show an example of the issue you're running into? I can try and take a look to help diagnose. The biggest thing for me is just keeping in mind the idea of asynchronous design patterns and how things will be completed and in what order. Also how Angular guards/resolvers operate.

Is there a specific scenario

[2020-06-08 15:38] Ro3A commented on #188
@camden-brown After checking out the variant you posted, I think it will work.

This is a greenfield app - so the issues I'm running into are precisely the same ones for this issue and the other one on AuthGuard. As well as the isAuthenticated observable wasn't firing when using an async pipe on my nav bar.

We use Angular 9 / RxJS heavily at work on very non-trivial applications so I'm pretty wel

[2020-06-08 21:34] stevehobbsdev commented on #188
The SameSite warnings fall into two camps - warnings you're getting about the compatibility cookie, and warnings you're getting from some local cookies we set from the SDK.

The former is nothing to do with the SDK and everything to do with backwards-compatible cookies set by Auth0 Server, which will not affect your app. You can verify this by making sure all the SameSite flags are turned on in Ch

[2020-06-08 21:58] stevehobbsdev commented on #188
In order to help get this resolved, if someone could put forward clear steps that reproduce the issue. I'm unclear as to whether you're hitting this on login or working with a guard (could be both?)

I ask because I'm unable to reproduce it. I'm not saying the issue doesn't exist, just saying I'm working a bit in the dark to see if the changes I'm making are making a difference.

@camden-brown The

[2020-06-08 22:13] camden-brown commented on #188
@stevehobbsdev it's honestly been quite some time since I've messed with it. I've had to refactor a few things since then. I'll try to get you some details on how I set it up tomorrow and maybe we can figure out where the disconnect is.

[2020-06-08 22:14] turkingj commented on #188
https://github.com/auth0-samples/auth0-angular-samples/issues/181#issuecomment-577144740

[2020-06-08 22:15] stevehobbsdev commented on #188
Thanks @camden-brown. In that time, the underlying SDK has been simplified in that you no longer need to use the `createAuth0Client` function that returns a promise, and can instead use the constructor directly. I think that should simplify this code a lot.

[2020-06-09 00:42] Ro3A commented on #188
@stevehobbsdev Thanks for the info on SameSite.

I'll grabbed the sample code, and only change I made was to plug in my values on the service class (copy pasted from the quick start).

1. Clear all cookies and storage to start fresh
2. Run site with port numbers configured in Auth0
3. Logged In Successfully
4. F5 Refresh page. This may be the part you're missing.
5. Arrive back on home page, but t

[2020-06-09 00:45] Ro3A commented on #188
@turkingj I implemented your solution as well, and it didn't work on F5 refresh. It worked better as I was able to make better use of isAuthenticated$ via async pipe on nav bar, but after a refresh it was a no go. But maybe I missed something.

[2020-06-09 10:02] stevehobbsdev commented on #188
@Ro3A Is this intermittent or does it happen every time on refresh?

I don't have that issue; if it happens every time, it may be down to the configuration of your Auth0 client. Things to check:

* Have you specified the application URL in the [Allowed Web Origins box](https://auth0.com/docs/quickstart/spa/angular2#configure-allowed-web-origins) when setting up your Auth0 client?
* Do you get any

[2020-06-10 00:52] Ro3A commented on #188
@stevehobbsdev

Thanks for the list of questions to work through. Ultimately, I found a trailing slash was present in allowed origins. Removing the trailing slash got the sample app working.

Some questions remain:

1) When trailing slash is present, why does login work but silent auth does not? I would have discovered the trailing slash issue much sooner if it failed outright due to incorrect con

[2020-06-10 11:06] stevehobbsdev commented on #188
Glad you've gotten to the bottom of it. To answer your questions:

1. It's less about the trailing slash and more about the fact that the URLs have to match exactly. For silent login, only the _origin_ is checked (e.g. `https://localhost:3000`) and this value should be entered into **Allowed Web Origins** exactly (you can of course add more, comma separated). For login, the full callback URL is ne

[2020-06-10 11:07] stevehobbsdev commented on #188
@d-led I'm not sure if anything in this thread has helped you resolve your issue as it's been hi-jacked a bit. Can you let me know if you're still having problems?

[2020-06-11 23:59] kwakuduahc1 opened #192 "The template and walkthrough does not work"
After downloading the sample. I run the application and it takes me to the login page alright but I get a 401 when I attempt to login.

Many thanks.

[2020-06-12 13:35] stevehobbsdev commented on #192
Hi @kwakuduahc1,

Please ensure you have read the [accompanying quickstart docs](https://auth0.com/docs/quickstart/spa/angular2) and the [documentation for Auth0 SPA SDK](https://github.com/auth0/auth0-spa-js) about how the login flow works. This sounds like configuration, so please ensure that your Auth0 client is configured correctly.

Feel free to open (or reopen) another issue with more detail

[2020-06-12 13:35] #192 closed

[2020-06-12 15:30] camden-brown commented on #188
So, looking back at what I wrote and what I have now. I only use `handleRedirectCallback` once in my `handleAuthCallback` call. `handleAuthCallback` is called in my `callback.resolver.ts` file. I believe the callback resolver is the recommended approach in the docs. There is a `callback` route with that resolver on it to figure out where to send the user to.

I think the issue is with the docs rec

[2020-06-13 01:00] kwakuduahc1 commented on #192
Hello,

Thank you for your response. However, I just followed the documentation and did not modify any part of the application. I am saying when I run this template, I get an error saying unauthorized. It it may help, this is a screenshot.

![image](https://user-images.githubusercontent.com/11381582/84556307-3bf23600-ad11-11ea-8d93-6ffa81ded952.png)

Many thanks.

[2020-06-13 01:09] kwakuduahc1 commented on #192
The solution was found in the same issue somebody had filed in the React template. However, the option is disabled by default and requires trickery.

![image](https://user-images.githubusercontent.com/11381582/84556443-5aa4fc80-ad12-11ea-9b1b-e788b1a4f75e.png)

Change the app type then set the Token.. to None. Change the app type back to SPA and it should work.

[2020-06-15 07:31] PapaNappa commented on #188
I also ran into the issue described here.

I also started off with the original solution from camdenbrown in the forum post.
I particularly did not like that the AuthGuard called handleAuthCallback.
The last post from camden-brown has also a bit of complexities, I think.

Here's my shot:

In the Auth0Service, I have an `initializedSubject` and `initialized$` observable from that subject.

[code]

[2020-06-26 17:23] #179 closed

[2020-06-26 17:26] stevehobbsdev commented on #188
Thanks everyone. Let me look at how we can change the code here to make it more reliable. I'm not an Angular dev but I have some ideas, would appreciate you pitching in on the review when I raise the PR 👍

[2020-06-26 20:06] d-led commented on #188
@stevehobbsdev thanks! For now, I've kept it working with the firefox workaround, and the other proposed work-arounds. If sample code gets updated, I'd try the new version on a fresh project

[2020-07-07 14:34] weilinzung opened #193 "Angular Single Page - ERROR Error: There are no query params available for parsing."
Using the login example from here: https://github.com/auth0-samples/auth0-angular-samples/tree/master/01-Login

It has this error.

[code]

https://github.com/auth0-samples/auth0-angular-samples/blob/master/01-Login/src/app/auth/auth.service.ts

[code]

Could someone update the example with the latest version `v1.10.0`? Currently, I have downgraded to `1.8.1`. Thanks!

[2020-07-10 11:53] stevehobbsdev commented on #193
Thanks for raising - could be related to https://github.com/auth0/auth0-spa-js/issues/515, we'll investigate.

[2020-07-10 12:02] stevehobbsdev commented on #193
@weilinzung I've downloaded the [Angular quickstart sample](https://github.com/auth0-samples/auth0-angular-samples), installed `@auth0/auth0-spa-js@latest` and ran the project, and I am not getting the issues you are seeing.

Are you saying that you upgrade to `v1.10.0` and it breaks, and the only way to log in is to downgrade to `1.8.1`?

We can update the sample but I'd like to dig into why this

[2020-07-10 14:23] Ro3A commented on #193
@stevehobbsdev I'm running into this as well at work which has a bit more complex routing requirements than my app at home, which I've not run into this.

I've tried version 1.8.1, and downgrading doesn't solve it for me. I'm available to screenshare if you've got time

[2020-07-10 15:57] Ro3A commented on #193
@stevehobbsdev

I was able to get this sorted so posting what I found in case it helps others.

This error is a result of authService being re-initialized due to the app reloading, except without a code / state query string params.
- Check for route config issues, compare route config carefully against the sample app.
- Check for other redirects that may be interfering.

In my case, I found that i

[2020-07-15 18:12] weilinzung commented on #193
hmmm. can you show a sample for your fix?

[2020-07-19 22:10] Alistair-Clough-A30001802 opened #194 "Unused code"
https://github.com/auth0-samples/auth0-angular-samples/blob/6ab4b71611fa4604cee899cf3e18b5956f4a2929/01-Login/src/app/auth/auth.service.ts#L109

Line 109 from the example code doesn’t seem to use ‘user’ or ‘loggedIn’. What function do they serve?

authComplete$.subscribe(([user, loggedIn]) => {
// Redirect to target route after callback processing
this.router.navigate([targetRoute]);
})

[2020-07-20 22:19] Ro3A commented on #193
@weilinzung Unfortunately not, but I outlined what to look for and how to determine to root cause.

Place a break point in the constructor of the authService or even better, in the handleAuthCallback method.. you'll find that it gets called twice (or more). When it does get called again, it's going to be without the state & code query string parameters which will cause the "there are no query para

[2020-07-20 22:24] weilinzung commented on #193
@Ro3A thanks for the advice!

That is also strange that happen after the v1.8.1.

[2020-07-20 23:33] aangelos28 commented on #188
I am having the same issue with Angular 10 using the new Auth0 universal login experience and the Auth0 Angular sample code. In my case, I have set up a redirect in the router to map the root path ("/") and all unknown routes to the dashboard, which has an `AuthGuard`. Once I set up this redirect, I get an infinite redirection loop after authenticating. If I do not set up the redirect and attempt

[2020-07-27 12:25] liorko87 opened #196 "Auth0 angular client keeps redirect to localhost and not host domain"
I managed to implement Auth0 Angular quickstart to localhost.
When I’m trying to change the local host to a name domain It keeps to redirect to the localhost address.

I added the name domain to allowed callback URLs at the app settings but it didn’t works.

Any suggestions?

Lior

[2020-08-06 16:00] vosuyak opened #197 "Redirected to login page on refresh (Angular)"
I built an Angular application consuming Auth0.
**I am able to**

Login
Sign Out
Redirect to different navigation pages protected by AuthGuard

**The problem**
When the user is logged in and they refresh the browser page. They are forcefully signed out and brought back to the login modal.

This occurred in my personal application as well as the sample application owned by (auth0)

[2020-08-12 09:31] Ethras commented on #188
This solution works perfectly for me. Thank you sir!

[2020-08-13 08:18] ChrisFulstow opened #198 "Restoring Login State with Angular 9 and auth0-spa-js"
Hi, I’ve been following the Angular quickstart to integrate Auth0 into my SPA app using the Google social connector. I can authenticate fine via Google and read the ID token claims. The problem is when I refresh the page, it doesn’t seem to be restoring the login state, and I need to login again. This behaviour seems to be the same in both my app and the Angular quickstart code.

How can I get my

[2020-08-13 09:32] davidobrien1985 commented on #198
duplicate of #197

[2020-08-13 10:06] ChrisFulstow commented on #198
pingback https://community.auth0.com/t/restoring-login-state-with-angular-9-and-auth0-spa-js/47941/

[2020-08-13 12:46] stevehobbsdev commented on #194
Thanks @Alistair-Clough-A30001802 , and apologies for the radio silence.

I think there is a case of some unused legacy code going on here. As you can see in the code, they aren't being used and could be removed.

We're about to rewrite the samples for Angular, so all this code you're looking at will disappear in favour of something much simpler.

[2020-08-13 12:46] #194 closed

[2020-08-13 12:47] stevehobbsdev commented on #196
Apologies for the radio silence here @liorko87  - can you show me how the SDK is being initialized?

Normally you would specify the `redirect_uri` property when setting up, which will cause Auth0 to redirect you to the right place.

[2020-08-13 12:51] stevehobbsdev commented on #197
Can you let me know which browser you're testing in? Some browsers such as Safari and Brave prevent third-party cookies from being used, which causes the issue you're seeing. Or, are you signing in to your app using a social provider while also using the **classic** login experience? Does the app work correctly if you sign in with a username and password?

Otherwise, there is an issue with the sam

[2020-08-13 12:54] stevehobbsdev commented on #198
@ChrisFulstow You mentioned on the community issue that it works when you sign in with a username and password.

Auth0 has a limitation that, if you sign in with a social connection that uses Auth0's development keys, while _also_ using the _classic_ login experience, then silent authentication does not work. The SDK relies on silent authentication to log you back in on a page refresh.

If that's

[2020-08-13 13:16] ChrisFulstow commented on #198
@stevehobbsdev legend, that's fixed it, cheers Steve. I created my own Google client ID and secret.

[2020-08-13 13:16] #198 closed

[2020-08-14 23:54] vosuyak commented on #197
Can you let me know which browser you're testing in?
*Google Chrome*

Some browsers such as Safari and Brave prevent third-party cookies from
being used, which causes the issue you're seeing.
Or, are you signing in to your app using a social provider while also using
the *classic* login experience?
*Using Google as a social provider*
*I've chosen the New experience via the dashboard, but I'm still

[2020-08-17 11:43] weilinzung commented on #193
@stevehobbsdev So I found the issue, there is a conflict with:

[code]

[2020-08-17 15:00] stevehobbsdev commented on #188
Thanks everyone for their comments.

I would like to highlight something that we have been working on which will totally replace these samples, which is a brand new [Auth0 SDK for Angular](https://github.com/auth0/auth0-angular). Instead of continuing to iterate on what is essentially a wrapper component inside the Angular SPA sample, we have extracted it into a new library in its own right, [just

[2020-08-17 15:00] #188 closed

[2020-08-17 15:01] stevehobbsdev commented on #181
Thanks everyone for their comments.

I would like to highlight something that we have been working on which will totally replace these samples, which is a brand new [Auth0 SDK for Angular](https://github.com/auth0/auth0-angular). Instead of continuing to iterate on what is essentially a wrapper component inside the Angular SPA sample, we have extracted it into a new library in its own right, [just

[2020-08-17 15:01] #181 closed

[2020-08-17 15:02] stevehobbsdev commented on #193
Thanks everyone for their comments.

I would like to highlight something that we have been working on which will totally replace these samples, which is a brand new [Auth0 SDK for Angular](https://github.com/auth0/auth0-angular). Instead of continuing to iterate on what is essentially a wrapper component inside the Angular SPA sample, we have extracted it into a new library in its own right, [just

[2020-08-17 15:02] #193 closed

[2020-08-17 15:04] stevehobbsdev commented on #197
the classic theme (might be a bug)

Have you chosen to customize the login template in the "Login" tab? I've found that if you customize the template, you will get the classic experience even though you selected "New"

![image](https://user-images.githubusercontent.com/766403/90411196-4cbd8000-e0a3-11ea-924e-1fa0aaec46e7.png)

[2020-08-17 16:04] vosuyak commented on #197
Hello, i can confirm that is the case.

Also in classic reload is taking the user login is screen. However, for the
new it works as expected. Please confirm on your end.

On Mon, Aug 17, 2020, 11:04 AM Steve Hobbs <notifications@github.com> wrote:

[2020-08-17 19:30] liorko87 commented on #196
@stevehobbsdev Thank you for the reply.
Please the source code [here](https://github.com/cryptobiu/MATRIX/blob/dev/WebApp/frontend/src/app/Services/auth.service.ts)

[2020-08-28 13:39] thecarlo opened #200 "Auth0 Angular Interceptor setting req.body values to null on POST method"
I implemented the Angular SPA quickstart in a Angular 9 app (https://auth0.com/docs/quickstart/spa/angular2/02-calling-an-api#create-an-http-interceptor and https://github.com/auth0-samples/auth0-angular-samples/blob/master/02-Calling-an-API/src/app/auth/interceptor.service.ts)

The interceptor correctly sets the Authorization header for all HTTP method types.

However, for POST methods, the req.b

[2020-08-28 16:43] stevehobbsdev commented on #200
Thanks @thecarlo for the report. We are very shortly about to replace these samples with those that use a [brand-new SDK](https://github.com/auth0/auth0-angular). It has an HTTP interceptor built in, and I would be keen to find out if you experience the same when using that.

The updated quickstart and samples are linked to from that repo. The samples are just a branch of this very repository (che

[2020-08-29 03:10] thecarlo commented on #200
@stevehobbsdev I implemented the changes, but unfortunately the same problem persists.

The Auth header is now injected as I get results for GET methods.

However, logging from my Node API reveals that the req.body values for keys are still being set to null:

Logging from my Node API shown below
[code]

[2020-09-03 05:10] VinitTomar opened #201 "/oauth/token: getting 401 response status"
Followed this sample code line by line, still getting 401.
Respones payload is
[code]

[2020-09-03 09:52] stevehobbsdev commented on #201
@VinitTomar We have an issue with the default app that is created when you set up a new tenant.

Could you try it with a brand-new Single Page Application type, and ensure that the Token Endpoint Authentication Method setting is set to "None"?

Please see this thread for more info: https://github.com/auth0/auth0-spa-js/issues/539

[2020-09-03 16:08] VinitTomar commented on #201
@stevehobbsdev It worked. Thanks

[2020-09-03 16:08] #201 closed

[2020-09-14 13:16] sathishkumarkk commented on #57
@chenkie Do you have a solution fo this issue or what is your advice.

[2020-09-23 15:56] manast commented on #197
The Classic login does not work with this example, could you please update the documentation to reflect this fact or fix the issue so that it works with classic?

[2020-09-23 16:14] vosuyak commented on #197
Please rewrite in Angular's default language being TypeScript, rather than JavaScript

[2020-09-23 16:18] vosuyak commented on #197
**The solution:**
User New and not the Classic login, and you'll be good to go

![image](https://user-images.githubusercontent.com/16410052/94040164-9c742300-fd96-11ea-93ba-d2675d29089c.png)

[2020-09-24 10:16] manast opened #206 "redirectUri does not work"
I spent several hours debugging this problem in my own application, and finally I gave it a try with the sample app and indeed it is not working.
How to reproduce:

1) Add ```http://localhost:4200/profile``` to the Allowed Callback URLs
2) Change ```environment.ts``` so that ```redirectUri``` points to ```http://localhost:4200/profile``` instead of pointing to ```window.location.origin```

Try to

[2020-09-24 10:21] stevehobbsdev commented on #206
@manast Let me close this one and respond on the other issue that you've generated.

[2020-09-24 10:21] #206 closed

[2020-09-30 08:46] stevehobbsdev commented on #200
@thecarlo Did you manage to get to the bottom of this? The new samples and SDK have been released, but I haven't been able to reproduce what you're seeing.

[2020-09-30 08:51] stevehobbsdev commented on #197
The samples were are are written in TypeScript, based on a new app created using `ng new`.

The sample will work with Classic Login but there are a few configuration things that should be noted. First, when you say "doesn't work", what do you mean?

[2020-09-30 09:52] manast commented on #197
@stevehobbsdev actually I do not remember anymore after so many changes :) but I think redirection did not work at all until I changed to New.

[2020-09-30 10:03] stevehobbsdev commented on #197
@manast There is a caveat to using Classic Login which may have caused you issues, which is that when logging in using a social provider, you must use your own social provider keys instead of [Auth0's developer keys](https://auth0.com/docs/connections/social/devkeys). Otherwise, silent authentication does not work. Perhaps it is this that you hit. There are [other limitations](https://auth0.com/do

[2020-09-30 10:03] #197 closed

[2020-10-09 02:02] diva-kia opened #207 "Dynamic configuration for AuthModule"
Due to the current setup of our application, we need to use dynamic external configuration to support multiple environments. However since Angular loads the module (AuthModule.forRoot()) first before the configuration, the configuration renders undefined. I need to be able to use AppConfig as the configuration for AuthModule just like this:

[code]

[2020-10-09 06:28] frederikprijck commented on #207
Hi @diva-kia ,

This is being tracked as part of https://github.com/auth0/auth0-angular/issues/47 and we are working on a solution so you can dynamically configure the AuthModule.

[2020-10-09 06:28] #207 closed

[2020-10-20 10:43] stevehobbsdev commented on #200
Closing for now, feel free to continue the conversation if you're still having issues.

[2020-10-20 10:43] #200 closed

[2020-10-20 10:45] stevehobbsdev commented on #196
@liorko87 So far I've been unable to reproduce this, unfortunately.

We have since upgraded the samples to use our new [Angular SDK](https://github.com/auth0/auth0-angular), which should provide a much better experience when using Angular with Auth0, and I would encourage you to give it a try.

Closing this for now, but feel free to raise any additional questions you may have.

[2020-10-20 10:45] #196 closed

[2020-10-20 21:43] thecarlo commented on #200
Hi @stevehobbsdev unfortunately the issue still persists. I asked some colleagues to look at this and they have also reported the same issues.

[2020-10-20 21:43] thecarlo commented on #200
Hi @stevehobbsdev unfortunately the issue still persists. I asked some colleagues to look at this and they have also reported the same issues.

Have decided to go the route of implementing our own auth solution instead.

[2020-11-09 08:14] LZorglub opened #208 "Connection parameters"
In previous SDK i was able to send the connection parameters to specify the database connection.
How can i do that with this API ?

[2020-11-09 08:15] LZorglub opened #209 "Access token visibility"
In previous SDK the access token was not retain in local storage, i see that this SDK use the local storage.
Do we have options to hidde access token ?

[2020-11-09 08:59] frederikprijck commented on #209
This library uses localstorage in an opt-in way.
The sample app in this repository does not use locsalstorage out of the box.

Local storage can be used by specifying the corresponding cachelocation:

[code]

So if you do not specifiy this cacheLocation, localstorage **will not be used**.

[2020-11-09 08:59] #209 closed

[2020-11-09 09:04] frederikprijck commented on #208
You can specify `connection` when calling `loginWithRedirect`:

[code]

The same goes for calling `loginWithPopup`:
[code]

[2020-11-09 09:07] #208 closed

[2020-11-19 10:38] nadeemy opened #211 "Navigation items not getting hidden in other tab"
I am using the sample application which can be downloaded from Auth0 site with no modifications whatsoever. Once after login, I open the sample application in second tab. So, now I have two tabs open and the Navigation bar is showing "Home" and
"External API". I logout from one tab, the page refreshes and updates the Navigation and shows "Home" only. The Login button reappears as expected.
![Tab 1

[2020-11-19 10:44] nadeemy opened #212 "Able to login using bogus user"
I am using the sample application which can be downloaded from Auth0 site with no modifications whatsoever. I login with a genuine user say john@contoso.com. Now I logout and try to login again, but this time using a bogus user e.g. xyz@contoso.com. It doesn't ask for the password and logs me in using the previous user i.e. john@contoso.com

[2020-11-19 11:03] frederikprijck commented on #211
Did you refresh that second tab? There is nothing telling two different tabs about authentication changes.

[2020-11-19 12:04] nadeemy commented on #211
Refreshing the tab does work as expected. However, the "External API" nav item is conditionally shown using *ngIf="auth.isAuthenticated$ | async"

<li class="nav-item" *ngIf="auth.isAuthenticated$ | async">
	<a routerLink="external-api" class="nav-link">External API</a>
</li>

Should that not hide it in other tab without the need to refresh it?

Also, shouldn't  the AuthGaurd prevent the updation

[2020-11-19 12:57] frederikprijck commented on #211
The isAuthenticated$ observable in Tab1 is not notified when authenciation state changes in Tab, so no the navigation item doesn't get hidden.

As the guard is using the isAuthenticated$ observable, the guard will not be able to catch this.

Even more, when you are not making use of local storage, multiple tabs result in multiple access token, one for each tab.
Logging out in one tab does not remo

[2020-11-19 13:01] stevehobbsdev commented on #212
This doesn't sound right - can you please include a video of what you're seeing?

[2020-11-19 13:51] nadeemy commented on #212
Not sure if I can post it here as it is client specific. What can be the alternate way of having a further discussion on this?

[2020-11-19 14:51] nadeemy commented on #211
We do indeed use the local storage in the real application. The issue that appears is that it tries to make an authorize call and properly gets back an error that Login is required but the application doesn't get redirected to the configured Logout URL and stays on the same page. The console does show the error like this:
![Login Error](https://user-images.githubusercontent.com/14071626/99681914-b

[2020-11-19 15:27] frederikprijck commented on #211
I do not understand why you would want to redirect to the logout URL when the user is not logged in ?

What is throwing this error ? Can you give some more information and, preferably, show some code that is triggering this error?

I think the idea would be to catch the error and react accordingly. This is not something we can solve on the SDK level as every application has its unique behavior for

[2020-11-20 06:24] nadeemy commented on #211
Thank you @frederikprijck  for your patience and providing the guidance for fixing this. I was able to track down the place the origin of the "Login Required" error message and take the appropriate action based on that.

[2020-11-20 06:24] #211 closed

[2020-12-18 07:52] konradsopala opened #214 "Clicking on “login” I see that the call to “this.auth.loginWithRedirect();” is made but nothing happens"
Hey team!

This is the feedback relayed from on of our Auth0 Community Forum users. Here's the reference:

https://community.auth0.com/t/quickstart-angular-project-is-not-working/54997

Pretty much the issue as in the title. Here's the solution to the issue:

Modifying the contents of app.module.ts as follows solved the problem:
[code]

Further feedback:

''I had not modified the API_IDENTIFIER in

[2020-12-18 08:25] frederikprijck commented on #214
Hey, we will see how we can improve this.

I do want to add that this information is part of the quickstart: https://auth0.com/docs/quickstart/spa/angular/02-calling-an-api

Even though this is not an identical match with how the code is structured in the sample application and I can see how that can be confusing.

[2020-12-18 10:06] konradsopala commented on #214
Thanks a lot!

[2021-01-07 18:58] Widcket commented on #212
Closing due to inactivity.

[2021-01-07 18:58] #212 closed

[2021-01-14 10:49] mustela opened #215 "Including identity email in the token when calling an external API"
Hey there! Could you help me understand how could I send the user email back to the external api call?

These are the values that the token has when it reaches the API

[code]

Thanks a lot!

[2021-01-14 11:01] mustela commented on #215
Never mind... :)
It was about adding a rule

[2021-01-14 11:01] #215 closed

[2021-01-23 20:04] #214 closed

[2021-03-24 22:19] woloski opened #225 "can we move the web app to port 3000?"
We are creating the callback URL automatically when a user downloads a QS from the CLI and the port is fixed to localhost:3000. Can we change it instead of using 4200?

[2021-03-24 22:27] Widcket commented on #225
@woloski, sorry I'm following. Can you please expand?

[2021-03-24 22:30] woloski opened #226 "leave the audience blank by default"
the sample should work if I didn't create an API yet. It should just do auth. For that to happen we should leave an empty string in audience in `auth_config.json`. That should be the default (ie remove YOUR_API_IDENTIFIER).

[2021-03-24 22:33] woloski opened #227 "Return a helpful error to the user if API call fails"
If the API call fails, right now it fails silently. I need to look at console to see what happened. Instead, we should show the user a red panel error saying what the error might be. For e.g.

* Do you have the API server running?
* Did you created an API in Auth0 and configure the `audience` in auth_config.json?
* Any typo on auth_config.json?

[2021-03-25 08:04] frederikprijck commented on #225
Hi @woloski,

We could do that, I am a bit concerned about the confusion this might give to Angular users. I know it's only a port, but angular is known to run their application on `4200`, I am pretty convinced not using `4200` will confuse people as pretty much all angular docs will always refer to 4200.

I am happy to change the port to `3000`, but before doing so I wanted to check if there is a

[2021-03-25 08:36] frederikprijck commented on #226
Hi @woloski ,

Leaving the audience blank in the config is something we can't do because our docs tooling relies on `YOUR_API_IDENTIFIER` to auto-fill the audience when downloading the sample from https://auth0.com/docs/quickstart/spa/angular/02-calling-an-api?download=true .

However, I have opened a PR to ensure we can run the sample without explicitly setting an `audience` but also without leav

[2021-03-26 14:53] woloski commented on #225
hmmm I see. @Widcket not sure how complex would it be to change the default URL in the CLI "if Angular".

[2021-03-26 14:57] Widcket commented on #225
@woloski not much, can squeeze it in today

[2021-03-26 15:08] frederikprijck commented on #225
Cool thanks @Widcket , I will close this but let me know if you need anything from me for this.

[2021-03-26 15:08] #225 closed

[2021-04-10 13:28] #227 closed

[2021-04-12 14:12] #226 closed

[2021-04-20 12:22] kartikchandra14 opened #231 "403 Error occured !!"
On click on Login BUTTON
![Screenshot from 2021-04-20 17-51-05](https://user-images.githubusercontent.com/29736729/115395018-09527d00-a201-11eb-8651-6004028d2605.png)

I got this 403 Error !!
![Screenshot from 2021-04-20 17-50-55](https://user-images.githubusercontent.com/29736729/115395070-153e3f00-a201-11eb-843d-3d2a866fc6c4.png)

Is it work for Yahoo login !!

[2021-04-20 12:54] stevehobbsdev commented on #231
Hi @kartikchandra14, that error page you're hitting has a link on it called something like "View technical details" which should point to the reason for the error - can you let me know what that is if it's not obvious how to solve it?

You can also check your [Auth0 Logs](https://manage.auth0.com/#/logs).

[2021-07-26 00:53] bradmccray89 commented on #231
I am also running into this issue. I am using Angular 12 with `canActivate: [AuthGuard]`. Below is the auth0 log screen for a failed connection. Any updates on this issue? I feel like it might be my fault somewhere, but I am unsure.

![image](https://user-images.githubusercontent.com/29950096/126919392-98ab73f5-fe43-4d51-8a0c-45c58c2a4b2a.png)

[2021-07-27 21:11] stevehobbsdev commented on #231
@bradmccray89 I think you have a different issue. We're going to need some more details from you that would help us triage this. There are a few things that could be causing this, including what browser you're testing in and repro steps. Please can you raise a new issue on https://github.com/auth0/auth0-angular and complete the issue template?

I'll close this issue for now as otherwise it has had

[2021-07-27 21:11] #231 closed

[2021-08-06 07:47] vinodifour opened #242 "Auth0 Login is not working with routing strategy { useHash: true } in Angular 12"
Hello,

I am trying to integrate Auth0 Login with Microsoft Office Word Add-in, The issue i'm facing is, I've to use
HashLocationStrategy in order to make my routing work in add-in iframe. But it seems like the auth0 login is not working with given routing strategy as it constantly returning false to my 'IsAuthorized$' Observable.

Also, I've checked with given  [auth0-angular-samples-Sample-01](h

[2021-08-06 08:15] frederikprijck commented on #242
I believe this is a bug in our SDK. Could you please open an issue on the SDK's repository https://github.com/auth0/auth0-angular.

Thanks!

[2021-08-06 09:06] #242 closed

[2021-09-14 07:24] sayemuddinkhan-mriirs opened #248 "Multiple projects(Applications) using only one time Auth0 Login authentication"
I am using Auth0 for user authentication and I want to implement Single sign on in my several apps running individually. I am able to use this Angular auth0 sample app with auth0  universal login page but I am not sure how can I integrate my other projects running into this same sign on?

Please help, Any help or suggestions will be much appreciated.

Thanks you :)

[2021-09-15 08:40] frederikprijck commented on #248
Hey @sayemuddinkhan-mriirs ,

SSO should work fine, here is an overview of how it works https://auth0.com/docs/configure/sso.

In Angular, this works in the same way:

- User goes to your first application
- Application checks on startup if a user is logged in, if not you redirect to Auth0 using `loginWithRedirect`
- User is asked for their credentials
- User is returned to your application and is

[2021-09-15 08:40] #248 closed

[2021-12-17 06:59] adnfyz commented on #181
Did it work for you? what did you keep in redirectI_uri? mine has dashboard?key='uniquekeyForDifferentuser"

[2022-02-09 04:10] andrewclaus opened #256 "Cannot GET /"
Hello, I am trying to build the first sample project on a **Mac**, but I am unable to load the webpage, I only get "Cannot GET /"

The steps I have followed:

1. Installed npm with `brew install npm`
2. I believe I have updated auth_config.json with the correct tenant values
3. Ran `npm run dev` and waited for it to say ** Angular Live Development Server is listening on localhost:4200, open your b

[2022-04-19 07:53] frederikprijck commented on #256
Hey,

Looking at the errors, it seems like none of them relate to our SDK. Would you be able to share a reproduction if you believe our SDK is causing this?

Thanks

[2022-04-19 15:12] andrewclaus commented on #256
Thanks for taking a look. It could very well be because I am on a Mac or because this is the first time I am using these tools. Is someone on your end with a Mac able to validate the steps I followed?

[2022-05-03 14:52] aymenboumaisa opened #277 "Ionic Angular (Capacitor) Auth0 SDK: App appUrlOpen event never triggered on callback"
Which SDK this is regarding: Auth0 Angular SDK
SDK Version: Latest
Platform Version: Ionic Angular (Capacitor)
Code Snippets/Error Messages/Supporting Details/Screenshots:
We’re trying to include auth0 on our ionic angular app
[Auth0 Ionic & Capacitor (Angular) SDK Quickstarts: Login](https://auth0.com/docs/quickstart/native/ionic-angular?framed=1&sq=1#install-the-auth0-angular-sdk)
all is Ok exce

[2022-06-09 11:47] merih-sakarya opened #295 "TypeScript version. error"
I got an error when I ran the app.

`An unhandled exception occurred: The Angular Compiler requires TypeScript >=4.0.0 and <4.2.0 but 4.7.3 was found instead.`

`
MacBook:Sample-01 mac-user$ npm run dev

Api started on port 3001
An unhandled exception occurred: The Angular Compiler requires TypeScript >=4.0.0 and <4.2.0 but 4.7.3 was found instead.
See "/private/var/folders/50/rcnh1bln257fd21m81v1

[2022-08-13 05:34] #256 closed

[2022-09-21 12:12] #295 closed

[2022-10-27 13:45] wouterSeyen opened #313 "Missing dependency in package.json"
When downloading the code and running `npm install && npm start` the compilation fails with errors stating `@popperjs/core` is missing.

[code]

[2022-10-27 13:52] frederikprijck commented on #313
Thanks for reporting this.

I did a fresh clone, rm -rf node_modules, ran npm i and npm start and have no issues.

It has installed popper because of ng-bootstrap, as expected:

![image](https://user-images.githubusercontent.com/2146903/198303349-c46da0e7-276c-4a0a-8aaf-05ef8116e962.png)

Anything you are doing different that could result in this?

[2022-10-27 14:08] wouterSeyen commented on #313
Hi @frederikprijck,
I downloaded the sample from within Auth0 in the Quickstart of a SPA
![image](https://user-images.githubusercontent.com/7555213/198307550-94dd4ee4-72bd-4ae2-9131-17ddbe2265bc.png)
So I'm not using the code in this repository directly, but definitely something derived from it as you choose to download it, or "view on github" which leads you here.

[2022-10-27 14:11] frederikprijck commented on #313
The Download Sample button should download the Sample-01 folder, which is the one I tried.

![image](https://user-images.githubusercontent.com/2146903/198308721-20801393-119a-4bb7-9d2b-cdc1c2f15344.png)

[2022-10-27 14:33] wouterSeyen commented on #313
I've tried it with both
- node: v18.12.0 with npm v8.19.2
- node: v16.17.0 with npm v8.15.0
with the same result.
For reference, I'm working on a Windows 11 machine.
I also have the same result if I clone the repository and run the commands there.

[2022-10-27 14:40] frederikprijck commented on #313
Thanks, will see if I can reproduce this in Windows. Tried a couple of different ways on OSX, but been unable to reproduce it on that.

[2022-10-28 06:58] wouterSeyen commented on #313
Hi @frederikprijck,
I also asked a colleague to do same actions, he installed the packages and launched the application without issues, so seems to be an issue with my own installation

[2022-10-28 07:29] frederikprijck commented on #313
I am going to close this for now, let me know if you believe there is anything we need to change here!

[2022-10-28 07:29] #313 closed

[2022-11-12 15:11] #277 closed